﻿@model BoudlGroup.FindAHotelDTO
@{
  Layout = null;
}
@*<script type="text/javascript" src="~/assets/js/jquery.js"></script>*@
<style>
     .mHeight {
            height: 700px;
        }
    </style>
<script>
   $(document).ready(function () {
       $("#hoteldetails").hide();
   });
   function hidediv()
   {
       $("#hoteldetails").hide();
   }
</script>

<div class="" id="hoteldetails" hidden>
        <div class="card" style="width: 18rem;">
            <div class="text-right"><i class="fa fa-times " style="cursor: pointer" onclick="return hidediv()"></i></div>
            <img id="imgmap" class="img-responsive" alt="Hotel Branch">
            <div class="card-body">
                <h5 class="card-title"><label class="text" id="mapdivtitle"></label></h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <a id="booklink" href="#" class="btn btn-primary" target="_blank">احجز الأن</a><br />
                <a id="weblink" href="#" class="book-now-btn" target="_blank">اعرض الفندق</a>

            </div>
        </div>
    </div>
<div class="loc-map mHeight" id="map">
</div>
<input type="hidden" value="" id="ZoomValue" />
<input type="hidden" value="@Model.Lat.Replace("(","")" id="txtlatitude" />
<input type="hidden" value="@Model.Lng.Replace(")","")" id="txtlongitude" />

@*@section scripts{*@

    <script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1")
    </script>
<script type="text/javascript">
    var map;
    var markers = [];
    var markers1 = [];
    var gmarkers1 = [];
    var umarkers2 = [];
    var ugmarkers2 = [];
    var lastinfowindow;
    var locIndex = [];
    var data;
    var res;
    var HotelId = "";
    var AmenityId = "";
    var infowindow;
    //var url = "http://csadms.com/boudlgrouptest/Uploads/"
    var url = '@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["imageurl"]))';
    var websiteurl = '@(Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["hostFolder"]))';

    //$("#hoteldetails").hide();
    //$('#exploredata').hide();
    //$('#exploremap').show();
    //$('#Map1').click(function () {
    //    $('#exploredata').hide();
    //    $('#exploremap').show();
    //})
    //$('#Data1').click(function () {
    //    $('#exploredata').show();
    //    $('#exploremap').hide();
    //})


    //Credit: MDN

    //Credit: MDN
    if (!Array.prototype.forEach) {
        Array.prototype.forEach = function (fn, scope) {
            for (var i = 0, len = this.length; i < len; ++i) {
                fn.call(scope, this[i], i, this);
            }
        }
    }
    var array = [];

    function getIcon(type) {
        switch (type) {
            case 6: return "";
            case 7: return "http://boudl.com.com/assets/img/Boudl.png";
            case 8: return "http://brairahotels.com/test/assets/img/Braira.png";
            case 9: return "http://aberhotels.com/test/assets/img/Aber.png";
            case 10: return "http://www.narcissusriyadh.com/images/MapIcons/Narcissus.png";
            default: return "";
        }
    }
    function getsite(type) {
        switch (type) {
            //case 6: return "";
            //case 7: return "http://csadms.com/boudldev/ar/branches/";
            //case 8: return "http://csadms.com/brairadev/ar/branches/";
            //case 9: return "http://csadms.com/aberdev/ar/branches/";
            //case 10: return "http://csadms.com/boudlgroupdev/ar/branches/";

            case 7: return "http://boudl.com/ar/branches/";
            case 8: return "http://brairahotels.com/ar/branches/";
            case 9: return "http://aberhotels.com/ar/branches/";
            case 10: return "http://www.narcissusriyadh.com/ar";
            default: return "";
        }
    }
    var markerCluster;
    var lt = $("#txtlatitude").val();
    var lg = $("#txtlongitude").val();
    var tlat = lt == "0" ? 22.722470 :  lt;
    var tlng = lg == "0" ? 47.3357758 : lg;
    var tzoom = JSON.stringify(@Model.Zoom) == "0" ? 3 : JSON.stringify(@Model.Zoom);


    function initMap() {

        var mapOptions = {
            zoom: parseInt(tzoom),
            center: { lat: parseFloat(tlat), lng: parseFloat(tlng) },
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            fullscreenControl: false,
            mapTypeControl: false
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        infowindow = new google.maps.InfoWindow({
            content: ''
        });
        var temp="";
        debugger;
        if(@Model.Id == 1)
        {
            temp = JSON.stringify(@Model.AmenityIds);
        }
        else
        {
            temp = "";
        }
        $.ajax({
            url: '@Url.Action("getAmenities","FindAHotel")',
            type: "POST",
            dataType: "text json",
            data: { AmenitiesIDs: temp },
            //contentType: "application/json; charset=utf-8",
            success: function (result, status, jqXHR) {
                data = result;//data = JSON.stringify(result) ;
                markers1 = data;
                for (i = 0; i < markers1.length; i++) {
                    addMarker(markers1[i]);
                }
                //markerCluster = new MarkerClusterer(map, gmarkers1, {
                //    imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
                //});

                loadmpa(map, gmarkers1);
            },
            error: function (res) {
            }
        });
    }
    function loadmpa(_map, gmarkers1) {
        markerCluster = new MarkerClusterer(map, gmarkers1, {
            imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
        });
    }
    function addMarker(marker) {
        var category = marker.AmenityIds;
        var title = marker.BranchNameAr;
        var titleEn = marker.BranchNameEn;
        var pos = new google.maps.LatLng(parseFloat(marker.Lat), parseFloat(marker.Lng));
        var icons = getIcon(marker.HotelId);
        var BranchImage = marker.BranchImage;
        var link = marker.BookingURL;
        var hotelnameAr = marker.HotelNameAr;
        var hotelnameEn = marker.HotelNameEn;
        var hotel = marker.HotelId;


        var content = "";
        marker1 = new google.maps.Marker({
            title: title,
            titleEn: titleEn,
            position: pos,
            category: category,
            icon: icons,
            map: map,
            image: BranchImage,
            link: link,
            hotelNameEn :hotelnameEn,
            hotelNameAr :hotelnameAr,
            hotelid : hotel
        });

        gmarkers1.push(marker1);
        //Marker click listener
        google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
            return function () {
                showdata(marker1);
            }
        })(marker1, content));

        google.maps.event.addListener(map, 'zoom_changed', function (event) {
            // alert('Lat: ' + event.latLng.lat() + ' and Longitude is: ' + event.latLng.lng());
            var a = map.getZoom();
            var ab = map.getMapTypeId();
            var abc = map.getCenter();
            $("#ZoomValue").val(a);
            $("#latitude").val(abc);

            var aaaa=map.getProjection;
            console.log($("#ZoomValue").val());
            console.log($("#latitude").val());




            //document.getElementById('ZoomValue').value =a.toString();
        });
        google.maps.event.addListener(marker, 'dragstart', function (event) {
            //alert('Lat: ' + event.latLng.data.Latitude() + ' and Longitude is: ' + event.latLng.data.Longitude());
            $("#latitude").val(event.latLng.data.Latitude());
            $("#longitude").val(event.latLng.data.Longitude());
            console.log($("#latitude").val());
            console.log($("#longitude").val());

        });

    }
    function showdata(marker1) {
        $("#hoteldetails").show();
        $("#imgmap").attr("src", url + marker1.image);
        $("#mapdivtitle").text(marker1.hotelNameAr +" "+ marker1.title);
        //$("#mapdivtitle").append(marker1.title);
        $("#booklink").attr("href", marker1.link);
        //$("#weblink").attr("href", "/ar/branches/"+ marker1.titleEn.replace(" ","-"));
        var hotel = getsite(marker1.hotelid)
        $("#weblink").attr("href", (hotel + marker1.titleEn.replace(' ','-')));

    }



</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M&callback=initMap">
</script>
