﻿@{
    ViewBag.Title = "Boudl Group Find A hotel";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";

}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }

        .main {
            padding-bottom: 0;
        }
    </style>

   
}

<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-sm-10"></div>
                            <div class="col-sm-2">
                                <a href="#" id="Map1">خريطة<i class="fa fa-map-marker"></i></a> |
                                <a href="#" id="Data1">قائمة<i class="fa fa-th-list"></i></a>
                            </div>

                        </div>
                        <!-- Page Content -->
                        
                        <div class="col-sm-12"  id="exploremap">
                            <div id="divcheck">
                                @if (ViewBag.HotelAmenities != null)
                                {
                                    <label>Amenities</label>
                                    foreach (var item in ViewBag.HotelAmenities)
                                    {
                                        <input type="checkbox" class="chk" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value"  style="margin-right:20px;" />@item.Text
                                    }
                                }
                            </div>
                            <br />
                            <div id="divcheck2">
                                @if (ViewBag.BrandListMap != null)
                                {
                                    <label>Brands</label>
                                    foreach (var item in ViewBag.BrandListMap)
                                    {
                                        <input type="checkbox" class="chk" id="brdId" name="BrandIds" title="@item.Text" value="@item.Value"  style="margin-right:20px;" />@item.Text
                                    }
                                }
                            </div>
                            <!-- Text Widget -->
                            <div class="widget widget_text">
                                <div class="textwidget text-justify">
                                    @*<hr />*@
                                    <input type="hidden" value="" id="ZoomValue" />
                                    <input type="hidden" value="" id="latitude" />
                                    <input type="hidden" value="" id="longitude" />
                                    <div id="divmap">
                                        @*<div class="loc-map mHeight" id="map"></div>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col-sm-8 -->
                        @*<div class="col-sm-4">*@
                            @*<div class="table-responsive">
                                <table class="table text-left thead-inverse" id="branches">
                                    <thead>
                                        <tr>
                                            <th>Hotel Branches</th>
                                        </tr>
                                    </thead>
                                    <tbody id="locs"></tbody>

                                </table>
                            </div>*@
                        @*</div>*@
                        <!-- col-sm-4 -->
                        <div class="col-sm-12" id="exploredata">
                            <div class="col-sm-8" style="text-align:center"><h3><strong>Find Your Boudl Hotels</strong></h3></div><br />
                            <div class="col-sm-12">

                                <hr />
                                <div class="col-sm-4">
                                    <label>Select Brand</label> @*"Select Hotel Amenities",*@
                                    @Html.ListBox("Brands", (IEnumerable<SelectListItem>)ViewBag.BrandList, new { @Id = "ddlBrands", @onchange = "ddlAmty()" })
                                </div>
                                @*<div class="col-sm-1"></div>*@
                                <div class="col-sm-4">
                                    <label>اختر مدينة</label>
                                    @Html.DropDownList("HotelList", (IEnumerable<SelectListItem>)ViewBag.CoutrList, "اختر مدينة", new { @Id = "ddlHotel" })
                                </div>
                                @*<div class="col-sm-1"></div>*@
                                <div class="col-sm-4">
                                    <label>Select Hotel Amenity</label> @*"Select Hotel Amenities",*@
                                    @Html.ListBox("HotelAmenities", (IEnumerable<SelectListItem>)ViewBag.HotelAmenities,  new { @Id = "ddlAmenity", @onchange = "ddlAmty()" })
                                </div>

                            </div>
                            <div class="col-sm-12" id="divhotelcities">

                            </div>

                        </div>

                    </div>
                </div>
            </article>
        </main>
    </div>
</div>

@section scripts{


    
<script type="text/javascript">
        $("body").addClass("internal-pages sticky trans-header contact type-1")
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script>
        $("#hoteldetails").hide();
        $('#exploredata').hide();
        $('#exploremap').show();
        $('#Map1').click(function () {
            $('#exploredata').hide();
            $('#exploremap').show();
        })
        $('#Data1').click(function () {
            $('#exploredata').show();
            $('#exploremap').hide();
        })
        //$(document).ready(function () {
        //    debugger;
        //    var $buttonClicked1 = $(this);
        //    var id1 = $buttonClicked.attr('data-id');
        //    var options1 = { "backdrop": "static", keyboard: true };
        //    //var AmntId = "";

        //});
        var HotelId = "";
        var AmenityId = "";
        $(document).ready(function () {

            $(":checkbox[name='AmenitiesIDs']").change(function () {
                var checked = "";
                var checked2 = "";
                $("#divcheck input:checked").each(function () {
                    checked += $(this).val() + ",";
                });
                $("#divcheck2 input:checked").each(function () {
                    checked2 += $(this).val() + ",";
                });
                var LatLongZoom = "";
                var zoom = $("#ZoomValue").val();
                var latlong = $("#latitude").val();
                LatLongZoom = latlong + "," + zoom;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetMapByAmenity")',
                    contentType: "application/json; charset=utf-8",
                    data: { AmenitiesIDs: checked, latlongzoom: LatLongZoom, BrandIds: checked2 },
                    datatype: "json",
                    success: function (data) {
                        $("#divmap").empty();
                        $('#divmap').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            })
            $(":checkbox[name='BrandIds']").change(function () {
                debugger;
                var checked = "";
                var checked2 = "";


                $("#divcheck input:checked").each(function () {
                    checked += $(this).val() + ",";
                });
                $("#divcheck2 input:checked").each(function () {
                    checked2 += $(this).val() + ",";
                });
                //alert($(this).val());
                //alert(checked);
                var LatLongZoom = "";
                var zoom = $("#ZoomValue").val();
                var latlong = $("#latitude").val();
                LatLongZoom = latlong + "," + zoom;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetMapByAmenity")',
                    //url:TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { AmenitiesIDs: checked, latlongzoom: LatLongZoom, BrandIds: checked2 },
                    datatype: "json",
                    success: function (data) {
                        $("#divmap").empty();
                        $('#divmap').html(data);
                        //$('#full').modal(options);
                        //$('#full').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            })

        });
        $(document).ready(function () {
            debugger;
            var BrandIds = "";
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            //var options = { "backdrop": "static", keyboard: true };
             AmenityId = null;
             var LatLongZoom = null;
             var BrandIds = "";

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapByAmenity")',
                contentType: "application/json; charset=utf-8",
                data: { AmenitiesIDs: AmenityId, latlongzoom: LatLongZoom, BIds: BrandIds },
                datatype: "json",
                success: function (data) {
                    $('#divmap').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId, BIds: BrandIds },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        });

        $('#ddlHotel').change(function () {
            HotelId = $(this).val();
            // Commented Temporarily
            var AmntId = AmenityId;
            var BrandIds = "";


            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $("#ddlBrands option:selected").each(function () {

                //var id = "" + $("#ddlAmenity").val() + ",";
                BrandIds += $(this).val() + ",";
            });
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { HtId: HotelId, AmtId: AmenityId, BIds: BrandIds },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        })
        function ddlAmty() {
            var hotelid = HotelId;
            var id = "";
            var BrandIds = "";

            $("#ddlAmenity option:selected").each(function () {
                id += $(this).val() + ",";
            });

            $("#ddlBrands option:selected").each(function () {

                //var id = "" + $("#ddlAmenity").val() + ",";
                BrandIds += $(this).val() + ",";
            });
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapData")',
                contentType: "application/json; charset=utf-8",
                data: { HtId: hotelid, para: id, BIds: BrandIds },
                datatype: "json",
                success: function (data) {
                    $('#divhotelcities').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        }

        var Hdata = "@ViewData["HotelId"]";
        var Adata = "@ViewData["AmenityId"]";

        if (Hdata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            HotelId = Hdata;
            $('#ddlHotel option[value=' + Hdata + ']').attr("selected", true);
        }
        if (Adata > 0) {
            $('#exploredata').show();
            $('#exploremap').hide();
            AmenityId = Adata.toString();
            $('#ddlAmenity option[value=' + Adata + ']').attr("selected", true);
        }
</script>
}

