﻿@model BoudlGroup.HomePageViewModel
@{
    ViewBag.Title = "Chairman's Message Boudl Group";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
        @if (Model.boardmemberslist != null)
        {
            foreach (var item in Model.boardmemberslist)
            {
                if (item.HasMessage == false && item.IsBoardMember == true)
                {
                    <article class="entry">
                        <h1 class="entry-title">@item.DesignationEn</h1>
                        <div class="entry-content">
                            <img src="@item.ImagePath" class="img-chariman md-img" />
                            <blockquote>
                                <p>
                                    @* The Arab hospitality is characterized by generosity among the cultures diversity. The genuineness is spread through our homeland the Kingdom of Saudi Arabia. This is where the first initiative of Sheikh Saleh bin Naser AlKhlaiwi came from. It is the foundation of the authentic Arabic hospitality since 1959 through hard efforts and determination to achieve a success suitable for the name of our country and the initiative owner. This hard work led to national and international awards which encouraged us to complete our first initiative in building a name well connected to creativity, industry, investment, and management for many competitive brands in the hospitality field. <cite>Mohammed Al-Khelaiwi - Chairman of Board of Directors</cite>*@
                                    @item.MessageEn
                                </p>
                            </blockquote>
                        </div>
                    </article>
                }

            }
        }

            @*<article class="entry">
                <h1 class="entry-title">Chairman of Board of Directors Message</h1>
                <div class="entry-content">
                    <img src="~/images/chairman.jpg" class="img-chariman" alt="Mohammed Al-Khelaiwi" />
                    <blockquote>
                        <p>
                            The Arab hospitality is characterized by generosity among the cultures diversity. The genuineness is spread through our homeland the Kingdom of Saudi Arabia. This is where the first initiative of Sheikh Saleh bin Naser AlKhlaiwi came from. It is the foundation of the authentic Arabic hospitality since 1959 through hard efforts and determination to achieve a success suitable for the name of our country and the initiative owner. This hard work led to national and international awards which encouraged us to complete our first initiative in building a name well connected to creativity, industry, investment, and management for many competitive brands in the hospitality field. <cite>Mohammed Al-Khelaiwi - Chairman of Board of Directors</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
            <article class="entry">
                <h1 class="entry-title">Managing Director's Message</h1>
                <div class="entry-content">
                    <img src="~/images/executive-board/7.jpg" class="img-chariman md-img" alt="Khaled bin Saleh Al-Khelaiwi" />
                    <blockquote>
                        <p>
                            “Boudl” company was established in 1959 under the name of Saleh Naser AlKhelaiwi and sons Co. where it started in food supplies trade and pioneered in this field in the Eastern province.<br />
                            In 1985 and after a thorough study of the tourism market and governmental trend towards the tourism resources development, the company decided to open its first hotel under the name of Al-Khelaiwi in Hafr AlBaten and in few years, the company opened a number of hotels throughout the KSA and Kuwait.<br />
                            Through its journey of success, the company created the “Boudl” brand which became the first brand in the hospitality field in KSA. Then the company created other brands such as “Narcissus, “Braira”, “Boudl Aber” and “Boudl Hotel Apartments”, in addition to other activities that formed the “Boudl Group”.<br />
                            In 2014 “Boudl” transformed from a limited liability company into a closed point stock company, It is expected to be enlisted in the financial market year 2018 as a strategic goal in addition to other goals such as growth, propagation, and best investment in its commercial brands.<br />
                            “Boudl Group” policy has been built on the basis of meeting the needs of Five, Four and Three Star hotels guests as well as the hotel apartments.<br />
                            “Boudl Group”  success has motivated it to be launched globally to be the first Saudi  company  that provides 
                            it services in an authentic Arabic Styles.

                            <cite>Khaled bin Saleh Al-Khelaiwi - Managing Director</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
            <article class="entry">
                <h1 class="entry-title">Chief Executive Officer's Message</h1>
                <div class="entry-content">
                    <img src="~/images/executive-board/6.jpg" class="img-chariman md-img" alt="Mr. Naser bin Saleh AlKhlaiwi" />
                    <blockquote>
                        <p>
                            Kingdom of Saudi Arabia’s leadership has planned for the country to be the most distinguished and prestigious among the world countries. Strong due to the wisdom of its leadership, people, and economy. A powerful nation under the leadership of the custodian of the two holy mosques King Salman bin Abdulaziz, an d the deputy crown prince Mohammad bin Salman. The government that is passionate for development and works hard to benefit all humanity. <br />With Allah’s graciousness, from one success to another, the Kingdom and we share its achievements due to the goals, ambitions, and constant endeavors of the deputy crown prince Mohammad bin Salman.He has ambitiously launched vision 2030, where he and we read and plan for the future. His and our path is to modernize and develop the kingdom to be an exceptional and more recognized country among the world’s countries.
                            <cite>Naser Saleh Al-Khelaiwi - CEO</cite>
                        </p>
                    </blockquote>
                </div>
            </article>*@
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}