﻿
@{
    ViewBag.Title = "Boudl Group Board of Directors";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Board of Directors</h1>
                <div class="entry-content">
                    <div class="board-member-container">
                        <img src="~/images/executive-board/founder.jpg" class="img-board-member" alt="Sheikh Saleh bin Nasser Al-Khelaiwi Alkhlaiwi" />
                        <h4 class="team-title">Sheikh Saleh bin Nasser Al-Khelaiwi - <small>The Founder</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/chairman.jpg" class="img-board-member" alt="Sheikh Mohammed bin Saleh Al-Khelaiwi" />
                        <h4 class="team-title">Sheikh Mohammed bin Saleh Al-Khelaiwi - <small>Chairman</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/vc.jpg" class="img-board-member" alt="Sheikh Saif bin Saleh Al-Khelaiwi" />
                        <h4 class="team-title">Sheikh Saif bin Saleh Al-Khelaiwi - <small>Vice Chairman</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/gm-north.jpg" class="img-board-member" alt="Shiekh Maziad bin Saleh Al-Khelaiwi" />
                        <h4 class="team-title">Sheikh Maziad bin Saleh Al-Khelaiwi - <small>Member of Board, G.M North Province</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/7.jpg" class="img-board-member" alt="Sheik Khaled bin Saleh Al-Khelaiwi" />
                        <h4 class="team-title">Sheik Khaled bin Saleh Al-Khelaiwi - <small>Member of Board, Managing Director</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/6.jpg" class="img-board-member" alt="Turkey Ben Nasser Alkhlaiwi" />
                        <h4 class="team-title">Sheikh Nasser bin Saleh Al-Khelaiwi - <small>Member of Board, CEO</small></h4>
                    </div>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
