﻿
@{
    ViewBag.Title = "  إفتتاح منتجع فيلات بريرا ";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/braira-hitin.jpg" alt="  إفتتاح منتجع فيلات بريرا " class="img-responsive" />
                                <h3 class="post-title">إفتتاح منتجع فيلات بريرا </h3>
                                <p class="text-justified">
                                    قريبا سيتم إفتتاح مجمع فيلات بريرا بالرياض , حى حطين , وهذه للمرة الأولى بالمملكة التى يتم فيها  إنشاء منتجع فندقى مكون من فيلات خاصة تشمل جميع الخدمات على طراز أنيق و مفروشات و آثاث غاية فى الفخامة والرونق, يُعد المنتجع متكامل من حيث الخدمات ووسائل الترفيه, فيشمل وحدات سكنية كل منها له حمام سباحة خاص.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
