﻿
@{
    ViewBag.Title = " بريرا النخيل  الرياض";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/braira-al-nakhil.jpg" alt="بريرا النخيل" class="img-responsive" />
                                <h3 class="post-title"> بريرا النخيل"  الرياض"</h3>
                                <p class="text-justified">
                                    قريباً سيتم إفتتاح فندق بريرا فرع حى النخيل بالرياض , من أكثر ما تمتاز به فنادق بريرا هو الديكور العصرى الذي يميل الى الفخامة والبساطة فى الوقت  ذاته, فقد أسست الشركة العديد من الفنادق والمنتجعات فى أنحاء المملكة وجارى التوسع لتشمل عدة مدن رئيسية. يُعد بريرا المكان الأمثل لقضاء عطلة مع العائلة  ففيه يسمتع النزيل بالهدوء والرفاهية بالأضافة الى خدمات فندقية متكاملة وبأسعار لا تقارن. 
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}