﻿
@{
    ViewBag.Title = "Contact Us | Boudl Group Hotels in Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }
        iframe {
            width: 100%
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">إتصل بنا</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d538.3477939952562!2d46.64726878057367!3d24.81058969775082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9268e352beabb810!2sBraira+al+sahafa+hotel!5e0!3m2!1sen!2suk!4v1510924816251" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <address>
                    شارع الملك عبد العزيز, حى الصحافة, الرياض ١٣٣٢١ , المملكة العربية السعوية
                </address>
                <section>
                    <div id="form-wrapper" class="group">
                        <div id="respond" class="comment-respond">
                            <h3>شاركنا برأيك</h3>
                            <form action="/" method="post" id="commentform" class="comment-form" novalidate="">
                                <p class="comment-notes">إملىء الخانات المطلوبة <span class="required">*</span> </p>
                                <p class="comment-form-author"> <label for="author">إسم <span class="required">*</span></label> <input id="author" name="author" type="text" size="30" aria-required="true"> </p>
                                <p class="comment-form-email"> <label for="email">بريد إلكترونى <span class="required">*</span></label> <input id="email" name="email" type="email" size="30" aria-required="true"> </p>

                                <p class="comment-form-comment"> <label for="comment">تعليق</label> <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea> </p>
                                <p class="form-submit"> <input name="submit" type="submit" id="submit" value="إرسال"> </p>
                            </form>
                        </div>
                        <!-- #respond -->
                    </div>
                    <!-- #form-wrapper -->
                </section>
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
