﻿
@{
    ViewBag.Title = "Boudl Group Executive Board";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">المجلس التنفيذي</h1>
                <div class="entry-content">
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/7.jpg" class="img-board-member" alt="Khaled Ben Saleh Alkhlaiwi" />
                        <h4 class="team-title">خالد بن صالح الخليوي - <br /><small>العضو المنتدب</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/6.jpg" class="img-board-member" alt="Nasser Ben Saleh Alkhelaiwi" />
                        <h4 class="team-title">ناصر بن صالح الخليوي - <br /><small>الرئيس التنفيذى</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/5.jpg" class="img-board-member" alt="Saleh Ben Seif Alkhlaiwi" />
                        <h4 class="team-title">صالح بن سيف الخليوي - <small>مدير عام بودل للشقق الفندقية</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/4.jpg" class="img-board-member" alt="Ibrahim Ben Mohamed Alkhlaiwi" />
                        <h4 class="team-title">إبراهيم بن محمد الخليوي - <small>مدير عام نارسيس</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/2.jpg" class="img-board-member" alt="Fares Ben Khaled Alkhlaiwi" />
                        <h4 class="team-title">فارس بن خالد الخليوي - <small>مدير عام فنادق بريرا</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/1.jpg" class="img-board-member" alt="Turkey Ben Nasser Alkhlaiwi" />
                        <h4 class="team-title">تركى بن ناصر الخليوي - <small>مدير عام فنادق عابر</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/14.jpg" class="img-board-member" alt="Qassem Al JAberi" />
                        <h4 class="team-title">قاسم الجابرى - <small>مدير عام بر للمخبوزات</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/13.jpg" class="img-board-member" alt="Mamdouh Zahran" />
                        <h4 class="team-title">ممدوح زهران - <small>مدير ادارة التسويق</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/12.jpg" class="img-board-member" alt="Tamer Al Shamery" />
                        <h4 class="team-title">ثامر الشمرى  - <small>مدير إدارة الموارد البشرية</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/10.jpg" class="img-board-member" alt="Saber Saeed" />
                        <h4 class="team-title">صابر سعيد  - <small>نائب مدير عام بودل</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/19.jpg" class="img-board-member" alt="Ahmed Mazhar" />
                        <h4 class="team-title">أحمد مظهر - <small>المستشار القانونى</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/18.jpg" class="img-board-member" alt="Ahmed Abd El Fattah" />
                        <h4 class="team-title">أحمد عبد الفتاح  - <small>مدير إدارة التطوير</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/17.jpg" class="img-board-member" alt="Mohamed Saad" />
                        <h4 class="team-title">محمد سعد - <small>مدير إدارة المراجعة الداخلية</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/21.jpg" class="img-board-member" alt="Mohamed Rashid" />
                        <h4 class="team-title">محمد الراشد - <small>مدير إدارة تكنولوجيا المعلومات</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/areas/ar/images/executive-board/22.jpg" class="img-board-member" alt="ALaa Adel" />
                        <h4 class="team-title">علاء عادل  - <small>مدير ادارة الجودة</small></h4>
                    </div>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();
                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}


