﻿
@{
    ViewBag.Title = "إفتتاح نارسيس أُبـــحر جدة )";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/narcissus-jeddah.png" alt="إفتتاح نارسيس أُبـــحر جدة" class="img-responsive" />
                                <h3 class="post-title">إفتتاح نارسيس أُبـــحر جدة</h3>
                                <p class="text-justified">
                                    تم في ١ مايو افتتاح منتجع نارسس  في ابحر الشماليه  في مدينة جده والذي يصنف بأنه من فئة الخمس نجوم جمع المنتجع بين الرفاهية والاسترخاء بتصميمه العالمي الفخم للوحدات السكينه كما انه المكان المناسب لرجال الاعمال لعقد اجتماعتهم في قاعة اجتماعات مجهزة ومنظمة .التنوع في المطاعم يشكل مزيج بين سحر الشرق والغرب  كما أن الهدوء وإطلالة البحر الجميل تشكل وجهة للزائرين الراغبين في الاسترخاء برفاهية..
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">10 - May - 2018</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
