﻿
@{
    ViewBag.Title = "Braira Hotel AL- Wezarat Branch Grand opening";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/braira-al-wizarat.jpg" alt="Braira Al Wizarat" class="img-responsive" />
                                <h3 class="post-title">Braira Hotel AL- Wezarat Branch Grand opening</h3>
                                <p class="text-justified">
                                    Braira Hotel new branch will be opened soon to public in the ministries district in Riyadh, the hotel is located in a vital and distinctive location in Riyadh in the heart of the city. The hotel is the perfect choice for business and leisure travelers. The hotel is characterized by elegant and contemporary furniture that is very much to the luxury and has a beautiful color and comfortable design for the eyes. Also, the most outstanding of the hotels in Braira is the tranquility and good service with all the integrated services. You will certainly find everything you need for a wonderful stay .
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}