﻿
@{
    ViewBag.Title = "Bodul Group Brands";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }
        .main{
            padding-bottom: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Our Brands</h1>
                <div class="entry-content brands-content">
                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>Narcissus</h3>
                            <img src="~/images/narcissus.png" class="img-narcisuss text-center" alt="Narcissus" />
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <p>
                                    Narcissus Hotels were launched to meet the brilliant vision and history of “Boudl Group”. Narcissus Hotels reflect a great picture that combines International architecture and modern luxury. Narcissus hotels group consists of 3 hotels and one resort, all ranked 5 stars.<br />
                                    The future plan for Narcissus is to establish hotels at Makkah,
                                    Madinah, Khobar, and Aseer; all representing a cultural and
                                    majestic heritage.<br />
                                    Narcissus existing hotels are: “Narcissus” Riyadh, “Classic
                                    Tower” Riyadh, “Narcissus Jeddah88”, and “Narcissus” Abhor.
                                    Each room of Narcissus hotels has five star specifications to
                                    meet all the needs of the hotel guests whether, families, individual,
                                    or VIP guests.
                                    <a href="http://www.narcissusriyadh.com/" target="_blank" class="brand-link">Go to website</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/narcissus.jpg" alt="Narcissus Hotel" class="img-responsive img-r-8" />
                            </div>
                        </div>
                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>Braira</h3>
                            <img src="~/images/braira-inverse.png" class="img-narcisuss text-center" alt="Narcissus" />                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/images/braira-brands.jpg" alt="Braira Hotel" class="img-responsive img-r-8" />
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    Braira which is a four star hotel is considered to be one of
                                    the most important and most famous brands in the field of
                                    tourism and hotels for many considerations.<br />
                                    The luxury felt by guests in all hotel parts.<br />
                                    - The enormous luxury that guests in all hotel parts.<br />
                                    - Mixing the classical Arabic style known for its hospitality
                                    and authenticity along with modern luxury which is present
                                    in all hotel services. <a href="http://www.brairahotels.com/" target="_blank" class="brand-link">Go to website</a>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>Aber</h3>
                            <img src="~/images/aber.png" class="img-aber text-center" alt="Narcissus" />
                        </div>                        
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    “Boudl Group” for hotels and resort established the new chain of “Aber Hotels” that has been launched in 2016 to
                                    meet the needs of several segmentations of our valued guest, as we present a modern hotels throughout best
                                    price concept with the quality which we are always promise to guarantee to our valued guest. The budget concept
                                    becomes nowadays highly required for travelers and whom seeking for break to change the regular live style.<br />
                                    The hotel chain is unique in providing special services with
                                    a budget rates and characterized by the modern and Arab
                                    genuineness designs. The Number of “Aber Hotels” has
                                    reached 6 hotels located in Riyadh, Qassim, Southern and
                                    eastern province and our strategic plan include to spread
                                    out in entire the kingdom regions.<a href="http://www.aberhotels.com/" target="_blank" class="brand-link">Go to website</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/aber-brands.jpg" alt="aber Hotel" class="img-responsive img-r-8" />
                            </div>
                        </div>
                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>Boudl 'Apart Hotels</h3>
                            <img src="~/images/boudl.png" class="img-boudl text-center" alt="boudl" width="120" />
                        </div>                        
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/images/boudl-brands.jpg" alt="Boudl Hotel" class="img-responsive img-r-8" />
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    Boudl Hotel Apartments in Saudi Arabia and Kuwait are
                                    characterized by giving guests a sense of at home modern
                                    luxury while maintaining the deep rooted Saudi luxurious
                                    hospitality, for all suites consist of a separate kitchen, bedroom,
                                    sitting room, and a bathroom.<br />
                                    At Boudl Hotel Apartment, you feel at home after a long
                                    hard working or touristic day.<br />
                                    The hotel is managed by a more than 30 year experienced
                                    team.<br />
                                    “Boudl” brand is spread through more than 35 hotels in KSA
                                    and 2 in Kuwait; while Boudl group is planning to spread all
                                    over the Gulf area.<a href="http://www.boudl.com/" target="_blank" class="brand-link">Go to website</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>Bur Bakery &amp; Cafe</h3>
                            <img src="~/images/bur.png" class="img-boudl text-center" alt="Bur bakery" width="120" />
                        </div>
                        <div class="row">                            
                            <div class="col-sm-6">
                                <p>
                                    Bur brand is owned by Boudl Hotels & Resorts , it combines
                                    the bakery and cafe, offering its products and services to
                                    the customers through a professional team who has extensive
                                    experience in the field. The bakery is equipped with
                                    the latest ovens, to provide the customers with the finest
                                    products in addition to the international and Arabic coffee,
                                    prepared by highly skilled staff.<br />
                                    BUR priority is to satisfy the customer’s needs, and to work
                                    on continue improvements to achieve the highest quality
                                    standards. Boodles strategy is to expand Bur bakery to
                                    reach 96 branches in KSA and abroad in line with the kingdom
                                    vision 2030.<a href="javascript:;" class="brand-link">Go to website</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/bur-brands.jpg" alt="Bur Bakery &amp; Cafe" class="img-responsive img-r-8" />
                            </div>
                        </div>
                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>Pampa Grill</h3>
                            <img src="~/images/pampa-grill-logo.png" class="img-boudl text-center" alt="boudl" width="120" />
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/images/pampa-grill.jpg" alt="Pampa Grill Bradns" class="img-responsive img-r-8" />
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    The Argentinean cuisine that offers different flavors for different
                                    tastes. You will have the chance to savor unique luscious
                                    dishes, meat, and desserts.<br />
                                    “Pampa Grill” is a chain restaurant offering a serial blend of
                                    European and Latin American products. It was established
                                    in Riyadh in 2013 at Narcissus Hotel which is owned by
                                    Boudl Group. Well-known for its Argentinean style, Pampa
                                    Grill skyrocketed for its exquisite taste, excellent service,
                                    and high quality.<br />
                                    Pampa grill 4 branches are in all 5 star Narcissus Hotels.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();
                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
