﻿
@{
    ViewBag.Title = "Boudl Group Brands | Aber, Braira, Narcissus, Boudl Apart Hotel, Bur Bakery &amp; Cafe";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }

        .main {
            padding-bottom: 0;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">علاماتنا التجارية</h1>
                <div class="entry-content brands-content">
                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>نارسس</h3>
                            <img src="~/images/narcissus.png" class="img-narcisuss text-center" alt="Narcissus" />
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <p>
                                    تأتي فنادق «نارسس » تلبية لإحتياج ضروري ورؤية ذكية تفرضها طبيعة
                                    وتاريخ بودل، حيث تعتبر فنادق «نارسس » الصورة الرائعة التي تجمع
                                    بين تاريخ المعمار العالمي وبين الرفاهية الحديثة في أبهى صورها.
                                    تضم مجموعة فنادق «نارسس » عدد 3 فنادق ومنتجع جميعها من
                                    فئة الخمس نجوم كما تضم المرحلة المستقبلية لنارسس فنادق
                                    في مدينة مكة المكرمة و المدينة المنورة و الخبر و عسير، كل فندق
                                    فيها يمثل واجهة حضارية راقية لتراث عريق . فنادق «نارسس » هي:
                                    “نارسس الرياض”، و “كلاسك تاور الرياض”، و “نارسس أبحر ». تحتوى
                                    غرف كل فندق من فنادق نارسس على مميزات خاصة كفندق خمس
                                    نجوم، ولكن في مجموعها او عمومها تتنوع هذه الغرف بما يتناسب
                                    مع احتياجات كافة ضيوف الفنادق من افراد وعائلات وشخصيات هامة .<a href="http://www.narcissusriyadh.com/ar" target="_blank" class="brand-link">إضغط للذهاب إلى الموقع</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/narcissus.jpg" alt="Narcissus Hotel" class="img-responsive img-r-8" />
                            </div>
                        </div>
                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>بريرا</h3>
                            <img src="~/images/braira-inverse.png" class="img-narcisuss text-center" alt="Narcissus" />
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/images/braira-brands.jpg" alt="Braira Hotel" class="img-responsive img-r-8" />
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    يُعد بريرا ذو تصنيف الأربع نجوم واحداً من أهم وأشهر العلامات التجارية
                                    في مجال السياحة والفنادق لعدة اعتبارات أهمها؛ الفخامة التي يشعر
                                    بها الضيوف في كافة أرجاء هذه الفنادق، و الرفاهية الهائلة التي يمكن
                                    للضيوف أن ينعموا بها، أضف إلى ذلك قدرة الإدارة على مزج الطابع
                                    الكلاسيكي العربي المعروف بالضيافة والأصالة مع وسائل الرفاهية
                                    الحديثة التي تتمثّل في الخدمات ولإمكانيات الموجودة بالفندق.<br />
                                    كما يمكن للضيف بأن يستمتع بالرفاهية في 8 فنادق قائمة حالياً
                                    إضافة إلى 8 أخرى تحت الإنشاء. لهذا من بين كل فنادق مجموعة بودل
                                    استطاعت فنادق بريرا أن تحتل المرتبة الأولى من بين الفنادق ذات فئة
                                    الأربع نجوم كمقصد للعائلات ورجال الأعمال والأفراد. وهذه حقيقة
                                    يشهد بها كل من أقام بهذه الفنادق؛ كما أن الرفاهية والخدمات
                                    الرائعة تجعل تكرار الزيارة والإقامة هدفاً مستقبلياً.<a href="http://www.brairahotels.com/ar" target="_blank" class="brand-link">إضغط للذهاب إلى الموقع</a>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>عابر</h3>
                            <img src="~/images/aber.png" class="img-aber text-center" alt="Narcissus" />
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    أنشأت شركه «بودل » للفنادق والمنتجعات سلسلة «فنادق عابر » و
                                    اطلقت علامتها التجاريه في عام 2016 لتلبية احتياجات العديد من شرائح
                                    المجتمع التي نتشرف بمخاطبتها من خلال مجموعه فنادق حديثه من
                                    حيث التصميم والمفهوم وباسعار اقتصاديه مع ضمان الجوده العاليه
                                    والاحترافية في تقديم الخدمات لضيوفنا الكرام. المفهوم الاقتصادي
                                    الذي نحرص علي تقديمه في هذه المجموعه اصبح حاليا غايه ضروريه
                                    للعديد من المسافرين والباحثين عن التغير في نمط الحياه المعتاد.<br />
                                    تتميز هذه السلسلة من الفنادق بتقديم خدمات مميزه باسعار
                                    اقتصاديه ، حيث أن التصاميم تجمع بين الحداثة والاصالة العربية .
                                    تم انشاء عدد 6 فنادق من سلسلة فنادق عابر في كل من الرياض
                                    والقصيم والمنطقه الجنوبية والمنطقة الشرقية وخطتنا الاستراتيجية
                                    تتضمن أن تنتشر هذه المجموعه في كل انحاء المملكة.<a href="http://www.aberhotels.com/ar" target="_blank" class="brand-link">إضغط للذهاب إلى الموقع</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/aber-brands.jpg" alt="aber Hotel" class="img-responsive img-r-8" />
                            </div>
                        </div>
                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>بودل للشقق الفندقية</h3>
                            <img src="~/images/boudl.png" class="img-boudl text-center" alt="boudl" width="120" />
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/images/boudl-brands.jpg" alt="Boudl Hotel" class="img-responsive img-r-8" />
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    تعد «بودل » للشقق الفندقية من الفنادق المميزة في السعودية
                                    والكويت بطابع الأجنحة الفندقية المتكاملة التي تعطي الضيوف
                                    الإحساس برفاهية المنزل العصري الحديث مع الحفاظ على الطابع
                                    السعودي المحافظ بتراثه وتقاليده العريقة. يستمتع الضيوف في الفندق
                                    بحفاوة وكرم ضيافة سعودية مشهود لها بجانب الرفاهية الكاملة.
                                    فجميع غرف الفنادق عبارة عن أجنحة فندقية متكاملة تحوي المطبخ
                                    المستقل وغرفة النوم ومكان الجلوس بالإضافة للحمام. في شقق
                                    بودل الفندقية يشعر الضيف كأنه في بيت مريح بعد عناء يوم شاق من
                                    العمل أو السياحة. الفندق يقوم على إدارته فريق عمل بخبرة تتجاوز 30
                                    عام.<br />
                                    وأصبحت هذه العلامة التجارية منتشرة بأكثر من 35 فندقاً داخل
                                    المملكة و 2 في دولة الكويت كما ان شركة بودل للفنادق والمنتجعات
                                    ترسم خطة توسعية لتكون منتشرة بدول الخليج كاملة.<a href="http://www.boudl.com/ar" target="_blank" class="brand-link">إضغط للذهاب إلى الموقع</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>بُر للمخبوزات</h3>
                            <img src="~/images/bur.png" class="img-boudl text-center" alt="Bur bakery" width="120" />
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    بر علامة تجارية تمتلكها شركة بودل للفنادق والمنتجعات حيث
                                    تدمج بين المخبز والمقهى وتقدم ذلك لعملائها من خلال فريق عمل
                                    متميز يمتلك الخبرة الواسعة في هذا المجال . قمنا بتجهيز المخابز
                                    بأحدث المعدات والأفران لتلبية جميع احتياجات العملاء.نقدم أجود أنواع
                                    القهوة العالميه بالإضافة إلى القهوة العربية ويتم إعدادها بأيدي ماهرة
                                    متخصصة في صنع القهوة .<br />
                                    وضعت بُر نصب عينيها إرضاء جميع عملائها وتلبية جميع احتياجاتهم
                                    ومتطلباتهم كما تعدهم بالتطوير والتحسين المستمر وتحقيق اعلى
                                    معايير الجودة . شركة بودل للفنادق والمنتجعات وضعت في خطتها
                                    الاستراتيجية التوسع والانتشار لعلامة بر التجارية ليصل عدد فروعها
                                    ٩٦ فرعاً داخل وخارج المملكة وذلك توافقاً مع رؤية المملكة العربية
                                    السعودية ٢٠٣٠ م.<a href="javascript:;" class="brand-link">إضغط للذهاب إلى الموقع</a>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/areas/ar/images/bur-brands.jpg" alt="Bur Bakery &amp; Cafe" class="img-responsive img-r-8" />
                            </div>
                        </div>
                    </div><!-- end entry intro-->
                    <div class="entry-intro">
                        <div class="brand-heading">
                            <h3>سلسلة مطاعم</h3>
                            <img src="~/areas/ar/images/pampa-grill-logo.png" class="img-boudl text-center" alt="boudl" width="120" />
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/areas/ar/images/pampa-grill.jpg" alt="Pampa Grill Bradns" class="img-responsive img-r-8" />
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    تقدم سلسلة «بامبا جريل » بين يديك كافة الأذواق والنكهات المختلفة.
                                    سيكون لديك الفرصة لتذوّق أطباق مختلفة و فريدة من نوعها من
                                    مختلف الأطباق واللحوم والحلويات.<br /> «بامبا جريل »، هي سلسلة مطاعم
                                    أرجنتينية تقدم المأكولات الأرجنتينية تأسست في عام 2013 الميلادية
                                    في مدينة الرياض السعودية بفندق «نارسس » الرياض وتعود ملكيتها
                                    لمجموعة بودل للفنادق والمنتجعات واشتهرت بطابعها الأرجنتيني
                                    حيث لاقت رواجاً وقبولاً كبير بسبب مذاقها المميّز بالإضافة إلى
                                    الخدمة الممتازة والجودة العالية.<br /> و يصل عدد فروعها حالياً إلى 4 فروع
                                    متواجدة في جميع فنادق «نارسس » فئة الخمس نجوم.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();
                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
