﻿
@{
    ViewBag.Title = "Boudl Group Chairmen's Message";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">رسـائل مجلس الأدارة</h1>
                <div class="entry-content">
                    <img src="~/areas/ar/images/chairman.jpg" class="img-chariman" alt="Mohammed Al-Khelaiwi" />
                    <blockquote>
                        <p>
                            اتسمت ثقافة الضيافة العربية الكرم بين ثقافات الشعوب المختلفة و إمتدت هذه الأصالة بإمتداد أرض وطننا الممكلة العربية السعودية, من هنا أتت أول مباردة من الشيخ صالح بن ناصر الخليوي فى صياغة أسم لمفهوم أصالة الضيافة العربية منذ العام ١٩٥٩ ميلادى فبدأ الجهد والأصرار بالعمل على تحقيق نجاح يليق بأسم الوطن وبأسم صاحب المبادرة, فتّوج بالجوائز المحلية والعالمية مما غرس فينا نحن أبناء الوطن فى مواصلة مبادرتنا الاولى فى صياغة اسم أصبح مرتبطاً إرتباطاً وثيقا بالأبتكار والأستثمار و الصناعة والإدارة للعديدمن العلامات التجارية التى باتت تنافس مثيلاتها العالمية فى قطاع الضيافة.
                            <cite>محمد بن صالح الخليوي - رئيس مجلس الإدارة </cite>
                        </p>
                    </blockquote>
                </div>
            </article>
            <article class="entry">
                <h1 class="entry-title">رسالة العضو المنتدب</h1>
                <div class="entry-content">
                    <img src="~/areas/ar/images/executive-board/7.jpg" class="img-chariman md-img" alt="Khaled bin Saleh Al-Khelaiwi" />
                    <blockquote>
                        <p>
                            تأسست شركة بودل عام ١٩٥٩ م تحت اسم شركة صالح ناصر الخليوي وأولاده التجارية حيث بدأت مسيرتها بأنتاج المواد الغذائية, فكانت الشركة الأولى فى هذا المكان فى المنطقة الشرقية.<br />
                            وفى عام ١٩٨٥ م وبعد دراسة محكمة لسوق السياحة وإتجاه المملكة لتمنية وتطوير الموارد السياحية, قررت الشركة إقامة أول فندق يحمل اسم الخليوي بمدينة حفر الباطن , وفى خلال أعوام قليلة إستطاعت الشركة إقامة العديد من الفنادق فى عدة مناطق من المملكة ودولة الكويت.<br />
                            وخلال مسيرة الشركة فى مجال الصناعة الفندقية, أنشأت العلامة التجارية بودل. التى حققت نجاحاً باهراً وأصبحت العلامة التجارية الأولى فى مجال إدارة وتشغيل الفنادق, ثم أنشأت الشركة علامات تجارية أخرى شكلت مجموعة بودل للفنادق والمنتجعات.<br />
                            وفى عام ٢٠١٤ تحولت بودل من شركة ذات مسئولية محدودة إلى شركة مساهمة مقفلة, من المتوقع إدراجها فى سوق الأوراق المالية عام ٢٠١٨, كهدف إستراتيجي إضافة الى اهدافها الاخرى المتمثلة فى النمو و الإنتشار والأستثمار الأمثل فى علاماتها التجارية.<br />
                            إن سياسة مجموعة بودل بنيت على أساس تلبية أحتياجات ورغبات الضيوف من الفنادق الفخمة فئة الخمس نجوم و أربع نجوم إلى ثلاث نجوم والشقق الفندقية.<br />
                            إن النجاح الذى حققته شركة بودل للفنادق و المنتجعات خلال مسيرتها يحفزها للأنطلاق عالمياً لتكون الشركة السعودية الأولى التى تقدم خدماتها بطابع عربى أصيل.

                            <cite>خالد الخليوي - العضو المنتدب</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
            <article class="entry">
                <h1 class="entry-title">رسالة  الرئيس التنفيذي</h1>
                <div class="entry-content">
                    <img src="~/areas/ar/images/executive-board/6.jpg" class="img-chariman md-img" alt="Mr. Naser bin Saleh AlKhlaiwi" />
                    <blockquote>
                        <p>
                            المملكة العربية السعودية، أرادت لها قيادتها الحكيمة أن تكون الدولة
                            الأكثر تميزاً ورقيّا بين دول العالم. دولة قويّة شأنها عظيم بقيادتها
                            الرشيدة وشعبها واقتصادها، دولة عظيمة بقيادة خادم الحرمين
                            الشريفين الملك سلمان بن عبد العزيز آل سعود «حفظه الله ورعاه »، و
                            وليّ عهده صاحب السمو الملكي الأمير محمد بن نايف «حفظه الله »، و
                            وليّ وليّ العهد صاحب السمو الملكي الأمير محمد بن سلمان «حفظه
                            الله »، حكومة تعشق التميّز مستمرة في العطاء والتطوير، وتسعى إلى
                            تحقيق الخير للبشرية الإنسانية.<br />
                            من قمة إلى قمة بهمم لا تعرف الانكسار، تواصل المملكة العربية
                            السعودية ونواصل نحن معها في تحقيق الإنجازات، بفضل الله تعالى ثم
                            بأهداف وطموحات صاحب الفكر والهمم العالية، وليّ ولّي العهد صاحب
                            السمو الملكي الأمير محمد بن سلمان «حفظه الله »، حيث أطلق سموه
                            رؤية المملكة 2030 ، طموحاته وطموحاتنا مستمرة ليس لها حدود،
                            يقرأ ونقرأ الواقع ويخطط ونخطط للمستقبل، نهجه ونهجنا التحديث
                            والتطوير والتميّز، لتكون المملكة العربية السعودية دولة استثنائية
                            وأكثر تميزاً بين حكومات العالم أجمع.
                            <cite>ناصر بن صالح الخليوي - الرئيس التنفيذي</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}