﻿
@{
    ViewBag.Title = "إفتتاح فندق بريرا حى الوزارات";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/braira-al-wizarat.jpg" alt="إفتتاح فندق بريرا حى الوزارات " class="img-responsive" />
                                <h3 class="post-title">إفتتاح فندق بريرا حى الوزارات</h3>
                                <p class="text-justified">
                                    قريبا سيتم إفتتاح فندق بريرا حى الوزارات بمدينة الرياض, فالفندق يقع فى موقع حيوي ومميز بالرياض فى قلب المدينة. يُعد الفندق هو الخيار الأمثل لرجال الأعمال و الباحثيين عن مكان للإقامة بجوار المؤسسات والهئيات. يمتاز الفندق بآثاث عصرى و أنيق يميل الى حد كبير الى الفخامة و يتمتع بتصاميم ذات ألوان خلابة و مريحة للأعين , أيضا من أكثر ما يميز فنادق بريرا هو الهدوء وحسن الخدمة الفندقية مع جميع الخدمات المتكاملة فهنالك بالتأكيد ستجد كل ما تحتاجه لقضاء إقامة أكثر من رائعة وبأسعار ممتازة.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}