﻿
@{
    ViewBag.Title = "Boudl Group Latest News";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">                    
                    <div class="row">
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/LuxuryHotelAward">
                                    <img src="~/images/news/luxury-awards.jpg" alt="Luxury Awards" class="img-responsive" />
                                </a>
                                <a href="~/LuxuryHotelAward" class="post-title">Luxury Hotel Award</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>       
                            </div>                     
                        </div><!-- col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/BrairaCordobaBranch">
                                    <img src="~/images/news/braira-cordoba.jpg" alt="Braira Cordoba" class="img-responsive" />
                                </a>
                                <a href="~/BrairaCordobaBranch" class="post-title">Braira Cordoba Branch Coming Soon</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/AberHotels">
                                    <img src="~/images/news/aber-2.jpg" alt="Aber Hotels" class="img-responsive" />
                                </a>
                                <a href="~/AberHotels" class="post-title">Aber Hotels</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/NarcissusTowerRiyadh">
                                    <img src="~/images/news/narcisuss-tower1.jpg" alt="Narcissus Tower Riyadh " class="img-responsive" />
                                </a>
                                <a href="~/NarcissusTowerRiyadh" class="post-title">Narcissus Tower Riyadh </a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/BrairaAlNakhil">
                                    <img src="~/images/news/braira-al-nakhil.jpg" alt="Braira Al Nakhil" class="img-responsive" />
                                </a>
                                <a href="~/BrairaAlNakhil" class="post-title">Braira Al Nakhil ( Riyadh )</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/BrairaAlWizarat">
                                    <img src="~/images/news/braira-al-wizarat.jpg" alt="Braira Hotel AL- Wezarat" class="img-responsive" />
                                </a>
                                <a href="~/BrairaAlWizarat" class="post-title">Braira Hotel AL- Wezarat Branch Grand opening</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/BrairaVillas">
                                    <img src="~/images/news/braira-hitin.jpg" alt="Braira Villas Grand Opening " class="img-responsive" />
                                </a>
                                <a href="~/BrairaVillas" class="post-title">Braira Villas Grand Opening</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/BrairaAlDammam">
                                    <img src="~/images/news/AlDammam1.jpg" alt="Braira Al Dammam" class="img-responsive" />
                                </a>
                                <a href="~/BrairaAlDammam" class="post-title">Braira Al Dammam ( 5 star ) is now open</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">06 - May - 2018</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/NarcissusObhurJeddah">
                                    <img src="~/images/news/narcissus-jeddah.png" alt="Narcissus Obhur Jeddah" class="img-responsive" />
                                </a>
                                <a href="~/NarcissusObhurJeddah" class="post-title">Narcissus Obhur Jeddah</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">10 - May - 2018</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->                
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}