﻿
@{
    ViewBag.Title = "Boudl Group CEO's Message";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Chief Executive Officer's Message</h1>
                <div class="entry-content">
                    <img src="~/areas/ar/images/executive-board/6.jpg" class="img-chariman md-img" alt="Mr. Naser bin Saleh AlKhlaiwi" />
                    <blockquote>
                        <p>
                            المملكة العربية السعودية، أرادت لها قيادتها الحكيمة أن تكون الدولة
                            الأكثر تميزاً ورقيّا بين دول العالم. دولة قويّة شأنها عظيم بقيادتها
                            الرشيدة وشعبها واقتصادها، دولة عظيمة بقيادة خادم الحرمين
                            الشريفين الملك سلمان بن عبد العزيز آل سعود «حفظه الله ورعاه »، و
                            وليّ عهده صاحب السمو الملكي الأمير محمد بن نايف «حفظه الله »، و
                            وليّ وليّ العهد صاحب السمو الملكي الأمير محمد بن سلمان «حفظه
                            الله »، حكومة تعشق التميّز مستمرة في العطاء والتطوير، وتسعى إلى
                            تحقيق الخير للبشرية الإنسانية.<br />
                            من قمة إلى قمة بهمم لا تعرف الانكسار، تواصل المملكة العربية
                            السعودية ونواصل نحن معها في تحقيق الإنجازات، بفضل الله تعالى ثم
                            بأهداف وطموحات صاحب الفكر والهمم العالية، وليّ ولّي العهد صاحب
                            السمو الملكي الأمير محمد بن سلمان «حفظه الله »، حيث أطلق سموه
                            رؤية المملكة 2030 ، طموحاته وطموحاتنا مستمرة ليس لها حدود،
                            يقرأ ونقرأ الواقع ويخطط ونخطط للمستقبل، نهجه ونهجنا التحديث
                            والتطوير والتميّز، لتكون المملكة العربية السعودية دولة استثنائية
                            وأكثر تميزاً بين حكومات العالم أجمع.
                            <cite>ناصر بن صالح الخليوي - الرئيس التنفيذي</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
