/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	/* 1 */
	font: inherit;
	/* 2 */
	margin: 0;
	/* 3 */
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
	/* 3 */
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	/* 2 */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	/* 1 */
	padding: 0;
	/* 2 */
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container::after {
	content: "";
	display: table;
	clear: both;
}

@media (min-width: 544px) {
	.container {
		max-width: 576px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 940px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container-fluid::after {
	content: "";
	display: table;
	clear: both;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.col-xs-1 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 8.33333%;
}

.col-xs-2 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 16.66667%;
}

.col-xs-3 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 25%;
}

.col-xs-4 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 33.33333%;
}

.col-xs-5 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 41.66667%;
}

.col-xs-6 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 50%;
}

.col-xs-7 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 58.33333%;
}

.col-xs-8 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 66.66667%;
}

.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 75%;
}

.col-xs-10 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 83.33333%;
}

.col-xs-11 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 91.66667%;
}

.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	width: 100%;
}

.pull-xs-0 {
	left: auto;
}

.pull-xs-1 {
	left: 8.33333%;
}

.pull-xs-2 {
	left: 16.66667%;
}

.pull-xs-3 {
	left: 25%;
}

.pull-xs-4 {
	left: 33.33333%;
}

.pull-xs-5 {
	left: 41.66667%;
}

.pull-xs-6 {
	left: 50%;
}

.pull-xs-7 {
	left: 58.33333%;
}

.pull-xs-8 {
	left: 66.66667%;
}

.pull-xs-9 {
	left: 75%;
}

.pull-xs-10 {
	left: 83.33333%;
}

.pull-xs-11 {
	left: 91.66667%;
}

.pull-xs-12 {
	left: 100%;
}

.push-xs-0 {
	right: auto;
}

.push-xs-1 {
	right: 8.33333%;
}

.push-xs-2 {
	right: 16.66667%;
}

.push-xs-3 {
	right: 25%;
}

.push-xs-4 {
	right: 33.33333%;
}

.push-xs-5 {
	right: 41.66667%;
}

.push-xs-6 {
	right: 50%;
}

.push-xs-7 {
	right: 58.33333%;
}

.push-xs-8 {
	right: 66.66667%;
}

.push-xs-9 {
	right: 75%;
}

.push-xs-10 {
	right: 83.33333%;
}

.push-xs-11 {
	right: 91.66667%;
}

.push-xs-12 {
	right: 100%;
}

.offset-xs-1 {
	margin-right: 8.33333%;
}

.offset-xs-2 {
	margin-right: 16.66667%;
}

.offset-xs-3 {
	margin-right: 25%;
}

.offset-xs-4 {
	margin-right: 33.33333%;
}

.offset-xs-5 {
	margin-right: 41.66667%;
}

.offset-xs-6 {
	margin-right: 50%;
}

.offset-xs-7 {
	margin-right: 58.33333%;
}

.offset-xs-8 {
	margin-right: 66.66667%;
}

.offset-xs-9 {
	margin-right: 75%;
}

.offset-xs-10 {
	margin-right: 83.33333%;
}

.offset-xs-11 {
	margin-right: 91.66667%;
}

@media (min-width: 544px) {
	.col-sm-1 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 8.33333%;
	}
	.col-sm-2 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 16.66667%;
	}
	.col-sm-3 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 25%;
	}
	.col-sm-4 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 33.33333%;
	}
	.col-sm-5 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 41.66667%;
	}
	.col-sm-6 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 50%;
	}
	.col-sm-7 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 58.33333%;
	}
	.col-sm-8 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 66.66667%;
	}
	.col-sm-9 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 75%;
	}
	.col-sm-10 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 83.33333%;
	}
	.col-sm-11 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 91.66667%;
	}
	.col-sm-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 100%;
	}
	.pull-sm-0 {
		left: auto;
	}
	.pull-sm-1 {
		left: 8.33333%;
	}
	.pull-sm-2 {
		left: 16.66667%;
	}
	.pull-sm-3 {
		left: 25%;
	}
	.pull-sm-4 {
		left: 33.33333%;
	}
	.pull-sm-5 {
		left: 41.66667%;
	}
	.pull-sm-6 {
		left: 50%;
	}
	.pull-sm-7 {
		left: 58.33333%;
	}
	.pull-sm-8 {
		left: 66.66667%;
	}
	.pull-sm-9 {
		left: 75%;
	}
	.pull-sm-10 {
		left: 83.33333%;
	}
	.pull-sm-11 {
		left: 91.66667%;
	}
	.pull-sm-12 {
		left: 100%;
	}
	.push-sm-0 {
		left: auto;
	}
	.push-sm-1 {
		right: 8.33333%;
	}
	.push-sm-2 {
		right: 16.66667%;
	}
	.push-sm-3 {
		right: 25%;
	}
	.push-sm-4 {
		right: 33.33333%;
	}
	.push-sm-5 {
		right: 41.66667%;
	}
	.push-sm-6 {
		right: 50%;
	}
	.push-sm-7 {
		right: 58.33333%;
	}
	.push-sm-8 {
		right: 66.66667%;
	}
	.push-sm-9 {
		right: 75%;
	}
	.push-sm-10 {
		right: 83.33333%;
	}
	.push-sm-11 {
		right: 91.66667%;
	}
	.push-sm-12 {
		right: 100%;
	}
	.offset-sm-0 {
		margin-right: 0%;
	}
	.offset-sm-1 {
		margin-right: 8.33333%;
	}
	.offset-sm-2 {
		margin-right: 16.66667%;
	}
	.offset-sm-3 {
		margin-right: 25%;
	}
	.offset-sm-4 {
		margin-right: 33.33333%;
	}
	.offset-sm-5 {
		margin-right: 41.66667%;
	}
	.offset-sm-6 {
		margin-right: 50%;
	}
	.offset-sm-7 {
		margin-right: 58.33333%;
	}
	.offset-sm-8 {
		margin-right: 66.66667%;
	}
	.offset-sm-9 {
		margin-right: 75%;
	}
	.offset-sm-10 {
		margin-right: 83.33333%;
	}
	.offset-sm-11 {
		margin-right: 91.66667%;
	}
}

@media (min-width: 768px) {
	.col-md-1 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 8.33333%;
	}
	.col-md-2 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 16.66667%;
	}
	.col-md-3 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 25%;
	}
	.col-md-4 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 33.33333%;
	}
	.col-md-5 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 41.66667%;
	}
	.col-md-6 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 50%;
	}
	.col-md-7 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 58.33333%;
	}
	.col-md-8 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 66.66667%;
	}
	.col-md-9 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 75%;
	}
	.col-md-10 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 83.33333%;
	}
	.col-md-11 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 91.66667%;
	}
	.col-md-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 100%;
	}
	.pull-md-0 {
		left: auto;
	}
	.pull-md-1 {
		left: 8.33333%;
	}
	.pull-md-2 {
		left: 16.66667%;
	}
	.pull-md-3 {
		left: 25%;
	}
	.pull-md-4 {
		left: 33.33333%;
	}
	.pull-md-5 {
		left: 41.66667%;
	}
	.pull-md-6 {
		left: 50%;
	}
	.pull-md-7 {
		left: 58.33333%;
	}
	.pull-md-8 {
		left: 66.66667%;
	}
	.pull-md-9 {
		left: 75%;
	}
	.pull-md-10 {
		left: 83.33333%;
	}
	.pull-md-11 {
		left: 91.66667%;
	}
	.pull-md-12 {
		left: 100%;
	}
	.push-md-0 {
		left: auto;
	}
	.push-md-1 {
		left: 8.33333%;
	}
	.push-md-2 {
		left: 16.66667%;
	}
	.push-md-3 {
		left: 25%;
	}
	.push-md-4 {
		left: 33.33333%;
	}
	.push-md-5 {
		left: 41.66667%;
	}
	.push-md-6 {
		left: 50%;
	}
	.push-md-7 {
		left: 58.33333%;
	}
	.push-md-8 {
		left: 66.66667%;
	}
	.push-md-9 {
		left: 75%;
	}
	.push-md-10 {
		left: 83.33333%;
	}
	.push-md-11 {
		left: 91.66667%;
	}
	.push-md-12 {
		left: 100%;
	}
	.offset-md-0 {
		margin-left: 0%;
	}
	.offset-md-1 {
		margin-right: 8.33333%;
	}
	.offset-md-2 {
		margin-right: 16.66667%;
	}
	.offset-md-3 {
		margin-right: 25%;
	}
	.offset-md-4 {
		margin-right: 33.33333%;
	}
	.offset-md-5 {
		margin-right: 41.66667%;
	}
	.offset-md-6 {
		margin-right: 50%;
	}
	.offset-md-7 {
		margin-right: 58.33333%;
	}
	.offset-md-8 {
		margin-right: 66.66667%;
	}
	.offset-md-9 {
		margin-right: 75%;
	}
	.offset-md-10 {
		margin-right: 83.33333%;
	}
	.offset-md-11 {
		margin-right: 91.66667%;
	}
}

@media (min-width: 992px) {
	.col-lg-1 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 8.33333%;
	}
	.col-lg-2 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 16.66667%;
	}
	.col-lg-3 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 25%;
	}
	.col-lg-4 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 33.33333%;
	}
	.col-lg-5 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 41.66667%;
	}
	.col-lg-6 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 50%;
	}
	.col-lg-7 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 58.33333%;
	}
	.col-lg-8 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 66.66667%;
	}
	.col-lg-9 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 75%;
	}
	.col-lg-10 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 83.33333%;
	}
	.col-lg-11 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 91.66667%;
	}
	.col-lg-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 100%;
	}
	.pull-lg-0 {
		left: auto;
	}
	.pull-lg-1 {
		left: 8.33333%;
	}
	.pull-lg-2 {
		left: 16.66667%;
	}
	.pull-lg-3 {
		left: 25%;
	}
	.pull-lg-4 {
		left: 33.33333%;
	}
	.pull-lg-5 {
		left: 41.66667%;
	}
	.pull-lg-6 {
		left: 50%;
	}
	.pull-lg-7 {
		left: 58.33333%;
	}
	.pull-lg-8 {
		left: 66.66667%;
	}
	.pull-lg-9 {
		left: 75%;
	}
	.pull-lg-10 {
		left: 83.33333%;
	}
	.pull-lg-11 {
		left: 91.66667%;
	}
	.pull-lg-12 {
		left: 100%;
	}
	.push-lg-0 {
		left: auto;
	}
	.push-lg-1 {
		left: 8.33333%;
	}
	.push-lg-2 {
		left: 16.66667%;
	}
	.push-lg-3 {
		left: 25%;
	}
	.push-lg-4 {
		left: 33.33333%;
	}
	.push-lg-5 {
		left: 41.66667%;
	}
	.push-lg-6 {
		left: 50%;
	}
	.push-lg-7 {
		left: 58.33333%;
	}
	.push-lg-8 {
		left: 66.66667%;
	}
	.push-lg-9 {
		left: 75%;
	}
	.push-lg-10 {
		left: 83.33333%;
	}
	.push-lg-11 {
		left: 91.66667%;
	}
	.push-lg-12 {
		left: 100%;
	}
	.offset-lg-0 {
		margin-left: 0%;
	}
	.offset-lg-1 {
		margin-right: 8.33333%;
	}
	.offset-lg-2 {
		margin-right: 16.66667%;
	}
	.offset-lg-3 {
		margin-right: 25%;
	}
	.offset-lg-4 {
		margin-right: 33.33333%;
	}
	.offset-lg-5 {
		margin-right: 41.66667%;
	}
	.offset-lg-6 {
		margin-right: 50%;
	}
	.offset-lg-7 {
		margin-right: 58.33333%;
	}
	.offset-lg-8 {
		margin-right: 66.66667%;
	}
	.offset-lg-9 {
		margin-right: 75%;
	}
	.offset-lg-10 {
		margin-right: 83.33333%;
	}
	.offset-lg-11 {
		margin-right: 91.66667%;
	}
}

@media (min-width: 1200px) {
	.col-xl-1 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 8.33333%;
	}
	.col-xl-2 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 16.66667%;
	}
	.col-xl-3 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 25%;
	}
	.col-xl-4 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 33.33333%;
	}
	.col-xl-5 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 41.66667%;
	}
	.col-xl-6 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 50%;
	}
	.col-xl-7 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 58.33333%;
	}
	.col-xl-8 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 66.66667%;
	}
	.col-xl-9 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 75%;
	}
	.col-xl-10 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 83.33333%;
	}
	.col-xl-11 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 91.66667%;
	}
	.col-xl-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: right;
		width: 100%;
	}
	.pull-xl-0 {
		left: auto;
	}
	.pull-xl-1 {
		left: 8.33333%;
	}
	.pull-xl-2 {
		left: 16.66667%;
	}
	.pull-xl-3 {
		left: 25%;
	}
	.pull-xl-4 {
		left: 33.33333%;
	}
	.pull-xl-5 {
		left: 41.66667%;
	}
	.pull-xl-6 {
		left: 50%;
	}
	.pull-xl-7 {
		left: 58.33333%;
	}
	.pull-xl-8 {
		left: 66.66667%;
	}
	.pull-xl-9 {
		left: 75%;
	}
	.pull-xl-10 {
		left: 83.33333%;
	}
	.pull-xl-11 {
		left: 91.66667%;
	}
	.pull-xl-12 {
		left: 100%;
	}
	.push-xl-0 {
		left: auto;
	}
	.push-xl-1 {
		right: 8.33333%;
	}
	.push-xl-2 {
		right: 16.66667%;
	}
	.push-xl-3 {
		right: 25%;
	}
	.push-xl-4 {
		right: 33.33333%;
	}
	.push-xl-5 {
		right: 41.66667%;
	}
	.push-xl-6 {
		right: 50%;
	}
	.push-xl-7 {
		right: 58.33333%;
	}
	.push-xl-8 {
		right: 66.66667%;
	}
	.push-xl-9 {
		right: 75%;
	}
	.push-xl-10 {
		right: 83.33333%;
	}
	.push-xl-11 {
		right: 91.66667%;
	}
	.push-xl-12 {
		right: 100%;
	}
	.offset-xl-0 {
		margin-right: 0%;
	}
	.offset-xl-1 {
		margin-right: 8.33333%;
	}
	.offset-xl-2 {
		margin-right: 16.66667%;
	}
	.offset-xl-3 {
		margin-right: 25%;
	}
	.offset-xl-4 {
		margin-right: 33.33333%;
	}
	.offset-xl-5 {
		margin-right: 41.66667%;
	}
	.offset-xl-6 {
		margin-right: 50%;
	}
	.offset-xl-7 {
		margin-right: 58.33333%;
	}
	.offset-xl-8 {
		margin-right: 66.66667%;
	}
	.offset-xl-9 {
		margin-right: 75%;
	}
	.offset-xl-10 {
		margin-right: 83.33333%;
	}
	.offset-xl-11 {
		margin-right: 91.66667%;
	}
}
