﻿<!DOCTYPE html>

<html dir="rtl" lang="ar-sa">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Group | Hotels Saudi Arabia | Best Hotels</title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
    <link href="~/areas/ar/css/base.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/mmenu.css">
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/magnific.css">
    <link href="~/areas/ar/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="shortcut icon" href="~/images/favicon.png">
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="page">
        <div class="layout-sidebar">
            <div class="sidebar">
                <div class="sidebar-content">
                    <header class="header">
                        <h1 class="site-logo">
                            <a href="~/ar/">
                                <img src="~/areas/ar/images/logo-home.png" alt="Boudl Group Logo" />
                            </a>
                            <br />
                            <div class="main-logos-container">
                                <ul class="brands">
                                    <li>
                                        <a href="http://boudl.com" target="_blank">
                                            <img src="~/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://brairahotels.com/" target="_blank">
                                            <img src="~/images/braira-1.png" alt="braira" class="img-braira" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                                            <img src="~/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://aberhotels.com/" target="_blank">
                                            <img src="~/images/aber.png" alt="aber" class="img-aber" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="~/images/bur.png" alt="bur" class="img-bur" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </h1>
                        
                        <a href="#" class="mobile-toggle">
                            <span class="mobile-navicon">
                                <b></b>
                            </span>
                            <span>
                                Menu
                            </span>
                        </a>
                    </header>
                    <div class="sidebar-inner">
                        <nav class="nav">
                            <ul class="navigation-main">
                                <li>
                                    <a href="javascript:;">عن مجموعة بودل</a>
                                    <ul>
                                        <a href="~/ar/home/history">نشأة بودل</a>
                                        <a href="~/ar/home/missionvision">الهدف والرؤية</a>
                                        <a href="~/ar/home/chairmanmessage">رسالئل مجلس الإدارة</a>
                                        <a href="~/ar/home/executiveboard">المجلس التنفيذي</a>
                                        @*<li><a href="@Url.Action("History","Home")">نشأة بودل</a></li>
                                        <li><a href="@Url.Action("MissionVision","Home")">الهدف والرؤية</a></li>
                                        <li><a href="@Url.Action("ChairmanMessage","Home")">رسالئل مجلس الإدارة</a></li>                            
                                        <li><a href="@Url.Action("ExecutiveBoard","Home")">المجلس التنفيذي</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/ar/boudlbrands/index">الفنادق و المطاعم</a>
                                    @*<a href="@Url.Action("Index","boudlbrands")">الفنادق و المطاعم</a></li>*@
                                <li>
                                    <a href="javascript:;">إحجز غرفتك</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">&nbsp;</a>
                                            <div class="menu-container">
                                                <div class="block-container">
                                                    <label>فندق</label>
                                                    <select id="ddlhotels" class = "form-control select2">
                                                        @*<option>نارسس</option>
                                                        <option>عابر</option>
                                                        <option>بريرا</option>
                                                        <option>بودل للشقق الفندقية</option>*@
                                                    </select>
                                                </div><!-- end block-container-->
                                                <div class="block-container">
                                                    <label>إختر وجهتك</label>
                                                    @*<input type="text"  />*@
                                                    <select id="ddlbranches" class="form-control select2"></select>
                                                </div><!-- end block-container-->
                                                <div class="clearfix"></div>
                                                <div class="half-container">
                                                    <label>الوصول</label>
                                                    @*<input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date..">*@
                                                    @*<input type="text" placeholder="الوصول" />*@
                                                    @*<input type="text" placeholder="الوصول" id="txtCheckIn" class="datepicker"  />*@
                                                    <input readonly type="text" placeholder="الوصول" id="startdate" class="datepicker" autocomplete="off" id="" />

                                                    
                                                </div>
                                                <div class="half-container">
                                                    <label>المغادرة</label>
                                                    <input readonly type="text" placeholder="المغادرة" class="datepicker"  autocomplete="off" id="enddate"/>
                                                </div>
                                                <div class="clearfix"></div><br />
                                                <div class="half-container">
                                                    <label>البالغون</label>
                                                    <select class="form-control" id="booking-field2">
                                                        @*<option></option>*@
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                    </select>
                                                </div>
                                                @*<div class="half-container">
                                                    <select class="form-control">
                                                        <option>الأطفال</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>*@
                                                <br />
                                                <div class="block-container">
                                                    <input type="button" value="إحجز الآن" id="btnBookNow" />
                                                </div><!-- end block-container-->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">نظام العضوية</a>
                                </li>
                                <li>
                                    <a href="~/ar/home/news">الأخبار</a>
                                    @*<a href="@Url.Action("News","Home")">الأخبار</a>*@
                                </li>
                                <li>
                                    <a href="~/ar/home/contactus">إتصل بنا</a>
                                    @*<a href="@Url.Action("ContactUs","Home")">إتصل بنا</a>*@
                                </li>
                                <li>
                                    <a href="~/ar/findahotel">العثور على فندق</a>
                                    @*<a href="@Url.Action("ContactUs","Home")">Contact Us</a>*@
                                </li>
                                
                                <li>
                                    <a href="~/ar/careers">وظائف</a>
                                    @*<a href="@Url.Action("ContactUs","Home")">Contact Us</a>*@
                                </li>
                                <li>
                                    <a href="~/ar/home/changelanguage">English</a>
                                    @*<a href="@Url.Action("ChangeLanguage","Home")">English</a>*@
                                </li>
                            </ul>
                            <!-- #navigation -->
                        </nav>
                        <!-- #nav -->
                        <div class="sidebar-widgets">
                            <!-- You can include widgets here if applicable -->
                        </div>
                        <div class="sidebar-widgets-bottom text-center">
                            <aside class="widget widget_text group">
                                <p><i class="fa fa-phone"></i> 9200000666</p>
                            </aside>
                            <!-- /widget -->
                            <!-- For a list of all supported social icons please see: http://fontawesome.io/icons/#brand -->
                            <aside class="widget widget_ci_social_widget ci-socials group">
                                <ul class="list-social-icons">
                                    <li><a class="social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/areas/ar/js/jquery-1.12.3.min.js"></script>
    <script src="~/areas/ar/js/superfish.js"></script>
    <script src="~/areas/ar/js/jquery.flexslider.js"></script>
    <script src="~/areas/ar/js/jquery.fitvids.js"></script>
    <script src="~/areas/ar/js/jquery.magnific-popup.js"></script>
    <script src="~/areas/ar/js/jquery.sticky-kit.min.js"></script>
    <script src="~/areas/ar/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/flatpickr"></script>
    <script type="text/javascript">
        flatpickr(".flatpickr", {
            enableTime: true
        });
        $(document).ready(function () {
            var branchlist = null;
            var urlval = "";
            //Populating branches ddl on pageload
            var markup1 = "<option value='0'>إختر وجهتك</option>";
            $("#ddlbranches").html(markup1).show();
            //alert('asd');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetHotels", "Home")',
                dataType: 'json',
                //  data: { id: $("#ddlcountries").val() },
                success: function (data) {
                    //alert(data.FirstList.length);
                    var district = "<select id='ddlhotels'>";
                    district = district + '<option value="">فندق</option>';
                    for (var i = 0; i < data.FirstList.length; i++) {
                        district = district + '<option value=' + data.FirstList[i].Id + '>' + data.FirstList[i].NameAr + '</option>';
                    }
                    district = district + '</select>';
                    $('#ddlhotels').html(district);
                    branchlist = data.SecondList;
                },
                error: function (ex) {
                    alert('Failed to retrieve Hotels.' + ex);
                }
            });

            //POPULATING BRANCHES DDL
            $("#ddlhotels").on('change', function () {
                debugger
                var hval = $(this).val();
                if (branchlist != null) {
                    var markup = "<option value='0'>إختر وجهتك</option>";
                    for (var x = 0; x < branchlist.length; x++) {
                        if (branchlist[x]["hotelid"] == hval) {
                            markup += "<option value=" + branchlist[x]["url"] + ">" + branchlist[x]["NameAr"] + "</option>";
                        }
                    }
                    $("#ddlbranches").html(markup).show();
                }
                else {
                    var markup = "<option value='0'>إختر وجهتك</option>";
                    $("#ddlbranches").html(markup).show();
                }
            });

            //PASS URL TO BOOKNOW BUTTON
            $("#ddlbranches").on('change', function () {
                debugger
                var val = $(this).val();
                urlval = val;
            });
            $("#btnBookNow").click(function () {
                debugger
                if (urlval != "0") {
                    //window.open(urlval, '_blank');
                    var startdate = $("#startdate").val();

                    var enddate = $("#enddate").val();
                    var Adult = $("#booking-field2").val();
                    //var hdnRedirect = $("#hdnRedirect").val();

                    var startDay = new Date(startdate);
                    var endDay = new Date(enddate);

                    var days = (endDay - startDay) / (1000 * 60 * 60 * 24);

                    var d = startdate.split("/");
                    var dd = d[1];
                    var mm = d[0];
                    var yy = d[2];
                    var date = dd + '.' + mm + '.' + yy;

                    window.location.replace(urlval + '?culture=en-us&date=' + date + '&nights=' + days + '&adults=' + Adult);
                }
            })
        });


    </script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    @*<script src="http://code.jquery.com/jquery-1.9.1.js"></script>*@
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @*<script type="text/javascript">
          $(document).ready(function () {
              $("#txtCheckIn").datepicker({
                  minDate: 0,
                  onSelect: function (date) {
                      var selectedDate = new Date(date);
                      selectedDate.setDate(selectedDate.getDate() + 1);
                      $("#txtCheckOut").datepicker("option", "minDate", selectedDate);
                  }
              });
              $("#txtCheckOut").datepicker({minDate:0});
         });
    </script>*@
    <script>

        var fullDate = new Date();
         fullDate = fullDate.setDate(fullDate.getDate() + 1);
         $("#startdate").datepicker({
             format: "yyyy-mm-dd",
             minDate: 0,
             onSelect: function (date) {
                 var selectedDate = new Date(date);
                 selectedDate.setDate(selectedDate.getDate() + 1);
                 $("#enddate").datepicker("option", "minDate", selectedDate);
             }
         });
         $("#enddate").datepicker({format: "yyyy-mm-dd", minDate: 0 });

        $("#startdate").datepicker('setDate',new Date());

        $("#enddate").datepicker('setDate',new Date(fullDate));

        $(document).ready(function()
        {
            $(function() {
                $("input.dates").each(function(){
                    var currentValue = $(this).val();
                    if(currentValue)
                        $(this).datepicker('setDate',new Date(currentValue));
                });
            });
                $("input.dates").keydown(function(event) {
                    if(event.keyCode != 8){
                        event.preventDefault();
                    }
                });
        })
    </script>
    <script>
        $(document).ready(function(){
                $("input").change(function(){
                    debugger;

                    var start =$("#startdate").val();
                    var SDate = new Date(start);
                    var end = $("#enddate").val();
                    var EDate = new Date(end);

                    if(start == end){
                        EDate = SDate.setDate(SDate.getDate() + 1);
                        $("#enddate").datepicker('setDate',new Date(EDate));
                    }
                });
        });
    </script>


</body>
</html>
