﻿
@{
    ViewBag.Title = "إفتتاح فندق بريرا الدمام ( خمس نجوم )";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/AlDammam1.jpg" alt="إفتتاح فندق بريرا الدمام ( خمس نجوم )" class="img-responsive" />
                                <h3 class="post-title">إفتتاح فندق بريرا الدمام ( خمس نجوم ) </h3>
                                <p class="text-justified">
                                    تم إفتتاح فندق بريرا الدمام و هو أول فندق في مجموعة فنادق و منتجعات بريرا الذي يصنف بأنه فندق ٥ نجوم يقع فندق بريرا الدمام بموقع استراتيجي والمطل على الواجهة البحرية محاطاً بأهم مراكز التسوق التجارية والمراكز الحكومية ، يعد فندق بريرا الدمام هو الواجهة البحرية الأمثل لمدينة الدمام التي تعطيك جواً من الدفىء والراحة والهدوء ، يمتاز الفندق بغرف وأجنحة فاخرة مصممة بديكورات عصرية ساحرة وبإطلالات رائعة واكثر ما يميز الفندق الفخامة والهدوء لجعل إقامتك متكاملة بوجود جميع ما تحتاج لإقامة رائعة.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">06 - May - 2018</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
