﻿
@{
    ViewBag.Title = "Aber Hotel New Branch Opening Soon";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/aber-2.jpg" alt="Aber Hotels" class="img-responsive" />
                                <h3 class="post-title">Aber Hotel</h3>
                                <p class="text-justified">
                                    The new branch of Aber hotels  in ( Sahafa district ) is coming soon to public. The hotels of Aber Brand are distinguished and simple in terms of design, concept and economical prices while ensuring high quality and professionalism in providing services to our guests. These concepts  are became very important  for most of travelers and for who are searching for new lifestyles. This series of hotels offers distinctive services at economical prices. The designs combine modernity with Arabic originality.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}