﻿
@{
    ViewBag.Title = "Boudl Group Vision and Mission";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">                
                <div class="entry-content">                    
                    <div class="our-vision vision-bg-new">
                        <h3 class="txt-white">Our Vision</h3>
                        <img src="~/images/vision.png" class="vision-mission" alt="Our Vision" />
                        <p>
                            To be the first choice for the guest and be the pioneers in the hotel industry.
                        </p>
                        <h3 class="txt-white">Our Mission</h3>
                        <img src="~/images/mission.png" class="vision-mission" alt="Our Mission" />
                        <p>
                            To provide excellent service to all guests &amp; achieve full satisfaction.
                        </p>
                    </div>
                    <div class="our-vision our-vision-bg">
                        <h3 class="txt-white">Our Strategic Objective</h3>
                        <ul class="our-objectives">
                            <li><span>Maintaining our position at the forefront of the hotel industry in the Kingdom of Saudi Arabia.</span></li>
                            <li><span>Achieving the greatest return on our investments through an integrated marketing system.</span></li>
                            <li><span>Upgrading our services to always be distinct &amp; of high quality.</span></li>
                            <li><span>Establishing unique hotels, hotel apartments &amp; resorts in new markets.</span></li>
                            <li><span>Participating in community services.</span></li>
                        </ul>
                    </div>
                    <div class="our-vision new-bg-2">
                        <h3 class="txt-white">Our Organizational Values</h3>
                        <ul class="our-objectives">
                            <li><span>Hospitality</span></li>
                            <li><span>Creativity</span></li>
                            <li><span>Teamwork</span></li>
                            <li><span>Humanity</span></li>
                            <li><span>Credibility</span></li>
                        </ul>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}