﻿
@{
    ViewBag.Title = "Braira Al Nakhil Branch Opening Soon";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">                                
                                    <img src="~/images/news/braira-al-nakhil.jpg" alt="Braira Al Nakhil" class="img-responsive" />                                
                                <h3 class="post-title">Braira Al Nakhil ( Riyadh )</h3>
                                <p class="text-justified">
                                    Braira Hotel &amp; Resort will soon be opening in Al-Nakhil District in Riyadh. The most advantage of the hotels in Braira is the modern decoration, which tends to luxury and simplicity at the same time. The company has established many hotels and resorts throughout the Kingdom and is expanding to several major cities. Braira is the perfect place to spend a holiday with the family, where the guest will enjoy peace and luxury as well as complementary hotel services for unbeatable prices.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->                       
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}