﻿
@{
    ViewBag.Title = "Braira Al Dammam ( 5 star ) is now open";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/AlDammam1.jpg" alt="Braira Al Dammam" class="img-responsive" />
                                <h3 class="post-title">Braira Al Dammam ( 5 star ) is now open</h3>
                                <p class="text-justified">
                                    Braira Al Dammam is now open to the public, it is the only hotel in braira hotels and resorts which is categorized as 5- Star Hotel. The hotel is located in a strategic location in Al Dammam city, it has the ideal frontage on the shore in Al Dammam, Also it is surrounded by the most important commercial centers and government facilities. Braira Al dammam Hotel provides their guests the most luxurious and comfortable stay, the hotel is known with its relaxing atmosphere and glamour decorations. it has many suites categories with legal setup provided specially for our special guests to make our guests pleased and relaxed.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">06 - May - 2018</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}