﻿@model BoudlGroup.FindAHotelDTO
@{
    Layout = null;
}
@if (ViewBag.countries != null)
{
    foreach (var item in ViewBag.countries)
    {
        <h3>@item.NameEn</h3><hr />
        if (ViewBag.cities != null)
        {
            foreach (var citem in ViewBag.cities)
            {
                if (citem.CountryId == item.Id)
                {
                    <h5><strong>@citem.NameEn</strong></h5>
                    <br />
                    if (ViewBag.BranchList != null)
                    {
                        foreach (var bitem in ViewBag.BranchList)
                        {
                            if (bitem.CityId == citem.Id)
                            {
                                if (bitem.HotelId == 7)
                                {
                                    <a href="http://boudl.com/branches/@bitem.NameEn.ToLower().Replace(" ", "-")" target="_blank"><span>@bitem.NameEn</span></a><br />
                                }
                                else if (bitem.HotelId == 8)
                                {
                                    <a href="http://brairahotels.com/branches/@bitem.NameEn.ToLower().Replace(" ", "-")" target="_blank"><span>@bitem.NameEn</span></a><br />
                                }
                                else if (bitem.HotelId == 9)
                                {
                                    <a href="http://aberhotels.com/branches/@bitem.NameEn.ToLower().Replace(" ", "-")" target="_blank"><span>@bitem.NameEn</span></a><br />
                                }
                                else if (bitem.HotelId == 10)
                                {
                                    <a href="http://www.narcissusriyadh.com/en/" target="_blank"><span>@bitem.NameEn</span></a><br />
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
