﻿
@{
    ViewBag.Title = "Boudl Group Find A hotel";

}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        .main {
            padding-bottom: 0;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <style>
        .p-br {
            margin: 0px !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            border: 1px solid #504742;
            background: #fff;
            color: #504742;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                border: 1px solid #504742;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background: #504742 !important;
                color: #ffffff !important;
            }

        .htt {
            height: 700px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <div class="entry-content">
                    <div class="row">
                        <!-- Page Content -->
                        <div class="col-sm-8">
                            <!-- Text Widget -->
                            <div class="widget widget_text">
                                <div class="textwidget text-justify">
                                    <div class="loc-map htt" id="map"></div>
                                </div>
                            </div>
                        </div>
                        <!-- col-sm-8 -->
                        <div class="col-sm-4">
                            @foreach (var item in ViewBag.HotelAmenities)
                            {
                                <input type="checkbox" class="chk" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value" />@item.Text<br /><br />
                            }
                            @*<div class="table-responsive">
                                    <table class="table text-left thead-inverse" id="branches">
                                        <thead>
                                            <tr>
                                                <th>Hotel Branches</th>
                                            </tr>
                                        </thead>
                                        <tbody id="locs">

                                        </tbody>

                                    </table>
                                </div>*@<div class="table-responsive">
                                <table class="table text-left thead-inverse" id="branches">
                                    <thead>
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="locs"></tbody>

                                </table>
                            </div>
                        </div>
                        <!-- col-sm-4 -->
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>

@section scripts{

    
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript">
        var map;
        var markers = [];
        var lastinfowindow;
        var locIndex=[];
        var data;
        var res;
        //Credit: MDN
        if (!Array.prototype.forEach) {
            Array.prototype.forEach = function (fn, scope) {
                for (var i = 0, len = this.length; i < len; ++i) {
                    fn.call(scope, this[i], i, this);
                }
            }
        }
        
        var array = [];


        //A utility function that translates a given type to an icon
        function getIcon(type) {
            switch (type) {
                case 6: return "";
                case 7: return "http://csadms.com/boudldev/assets/img/corporate/fav.png";
                case 8: return "http://csadms.com/brairadev/assets/img/fav.png";
                case 9: return "http://csadms.com/aberdev/assets/img/favicon.ico";
                case 10: return "http://csadms.com/boudlgroupdev/images/narcissus_favicon.ico";
                default: return "";
            }
        }
       
       
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: { lat: 22.7224706, lng: 47.3357758 }
            });
            $.ajax({
                url: "http://localhost:18234/api/UserDeviceTokenAPI/FindHotelBrancheService/6",
                type: "POST",
                dataType: "text json",
                success: function (result, status, jqXHR) {
                    data = result;//data = JSON.stringify(result) ;
                    res = {
                        Objects: data.map(function (v) {
                            return {
                                lat: parseFloat(v.latitude),
                                lng: parseFloat(v.longitude)
                            };
                        })

                    }

                    data.forEach(function (mData, idx) {
                        markers = data.map(function (mData, idx) {
                            return new google.maps.Marker({
                                position: new google.maps.LatLng(parseFloat(mData.lat), parseFloat(mData.lng)),
                                //label: labels[i % labels.length]
                                label: 'H',
                                title: mData.titleEn,
                                icon: getIcon(mData.type),
                            })
                        });

                        var markerCluster = new MarkerClusterer(map, markers,
                                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
                    })

                   

                },
                error: function (res) {

                }
            });

            function doFilter() {
                if (locIndex.length==0) {
                    //locIndex = {};
                    //I reverse index markers to figure out the position of loc to marker index
                    for (var x = 0, len = markers.length; x < len; x++) {
                        //var _locId = markers[x].locid;
                        locIndex[x] = x;
                    }
                }

                //what's checked?
                var checked = $("input[type=checkbox]:checked");
                var selTypes = [];
                for (var i = 0, len = checked.length; i < len; i++) {
                    selTypes.push($(checked[i]).val());
                }
                for (var i = 0, len = data.length; i < len; i++) {
                    //var sideDom = "p.loc[data-locid=" + (i + 1) + "]";
                    var typeList = data[i].AmenityIds;
                    var markerTypeArr = typeList.split(", ");
                    var MTypeArrTrim = markerTypeArr.map(Function.prototype.call, String.prototype.trim)
                    console.log(markerTypeArr);

                    var commonTypes = $.grep(selTypes, function (element) {
                        return $.inArray(element, MTypeArrTrim) !== -1;
                    });

                    console.log(commonTypes);

                    //Only hide if length != 0
                    //if(checked.length !=0 && selTypes.indexOf(data[i].type) < 0) {
                    if (checked.length != 0 && commonTypes.length>0) {
                        //$(sideDom).hide();
                        
                        markers[locIndex[i]].setVisible(true);
                        data.forEach(function (mData, i) {
                            markers = data.map(function (mData, i) {
                                return new google.maps.Marker({
                                    position: new google.maps.LatLng(parseFloat(mData.lat), parseFloat(mData.lng)),
                                    //label: labels[i % labels.length]
                                    label: 'H',
                                    title: mData.titleEn,
                                    icon: getIcon(mData.type)
                                })
                            });

                            var markerCluster = new MarkerClusterer(map, markers,
                                    { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
                        })
                        //markers[locIndex[i ]].setVisible(false);
                    } else {
                        //$(sideDom).show();
                        //markers[locIndex[i ]].setVisible(true);
                        markers[locIndex[i]].setVisible(false);
                        data.forEach(function (mData, i) {
                            markers = data.map(function (mData, i) {
                                return new google.maps.Marker({
                                    position: new google.maps.LatLng(parseFloat(mData.lat), parseFloat(mData.lng)),
                                    //label: labels[i % labels.length]
                                    label: 'H',
                                    title: mData.titleEn,
                                    icon: getIcon(mData.type)
                                })
                            });

                            var markerCluster = new MarkerClusterer(map, markers,
                                    { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
                        })
                    }
                }
            }

            $(document).on("click", "input[type=checkbox]", doFilter);

            //$(":checkbox").change(function () {
            //    var id = $(this).val();
            //    var chk = $(this).is(":checked");
            //    if (chk) {
            //        //alert(id);
            //        array.push(id);
            //    }
            //})
           
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M&callback=initMap">
    </script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            initialize();
        });
    </script>*@
}
