﻿
@{
    ViewBag.Title = "Boudl Group Find A hotel";

}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        .main {
            padding-bottom: 0;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <style>
        .p-br {
            margin: 0px !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            border: 1px solid #504742;
            background: #fff;
            color: #504742;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                border: 1px solid #504742;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background: #504742 !important;
                color: #ffffff !important;
            }

        .mHeight {
            height: 700px;
        }
        .chk{
            margin-left:20px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <div class="entry-content">
                    <div class="row">
                        <!-- Page Content -->
                        <div class="col-sm-12">
                            <!-- Text Widget -->
                            @if (ViewBag.HotelAmenities != null)
                            {
                                foreach (var item in ViewBag.HotelAmenities)
                                {
                                @*<input type="checkbox" class="chk cbamenity" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value" />@item.Text<br /><br />*@
                                <input type="checkbox" class="chk" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value" onchange="filterMarkers(this.value);" style="margin-left:20px;"/>@item.Text 
                                }
                            }
                            <div class="widget widget_text">
                                <div class="textwidget text-justify">
                                    
                                    <div class="loc-map mHeight" id="map">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col-sm-8 -->
                        <div class="col-sm-4">
                            


                            @*<input type="checkbox" class="chk" id="amdId1" name="AmenitiesIDs1" title="second" value="second" onchange="filterMarkers(this.value);"/>second<br /><br />
                            <input type="checkbox" class="chk" id="amdId2" name="AmenitiesIDs1" title="car" value="car" onchange="filterMarkers(this.value);"/>car<br /><br />
                            <input type="checkbox" class="chk" id="amdId3" name="AmenitiesIDs1" title="third" value="third" onchange="filterMarkers(this.value);"/>third<br /><br />*@
                            @*<select id="type" onchange="filterMarkers(this.value);">
                                <option value="">Please select category</option>
                                <option value="second">second</option>
                                <option value="car">car</option>
                                <option value="third">third</option>
                            </select>*@
                            @*<div class="table-responsive">
                                    <table class="table text-left thead-inverse" id="branches">
                                        <thead>
                                            <tr>
                                                <th>Hotel Branches</th>
                                            </tr>
                                        </thead>
                                        <tbody id="locs">

                                        </tbody>

                                    </table>
                                </div>*@
                        </div>
                        <!-- col-sm-4 -->
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>

@section scripts{

    
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script type="text/javascript">
        var map;
        var markers = [];
        var markers1 = [];
        var gmarkers1 = [];
        var lastinfowindow;
        var locIndex=[];
        var data;
        var res;
        var infowindow; 
        //Credit: MDN
        if (!Array.prototype.forEach) {
            Array.prototype.forEach = function (fn, scope) {
                for (var i = 0, len = this.length; i < len; ++i) {
                    fn.call(scope, this[i], i, this);
                }
            }
        }
        var array = [];
        //A utility function that translates a given type to an icon
        function getIcon(type) {
            switch (type) {
                case 6: return "";
                case 7: return "http://csadms.com/boudldev/assets/img/corporate/fav.png";
                case 8: return "http://csadms.com/brairadev/assets/img/fav.png";
                case 9: return "http://csadms.com/aberdev/assets/img/favicon.ico";
                case 10: return "http://csadms.com/boudlgroupdev/images/narcissus_favicon.ico";
                default: return "";
            }
        }

        //var gmarkers1 = [];
        //var markers1 = [];
        //var infowindow = new google.maps.InfoWindow({
        //    content: ''url: '@Url.Action("getBranches","Offers")',
        //});
        var markerCluster;
        function initMap() {
            var mapOptions = {
                zoom: 3,
                center: { lat: 22.7224706, lng: 47.3357758 },
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            infowindow = new google.maps.InfoWindow({
                content: ''
            });
            $.ajax({
                url: '@Url.Action("getAmenities","FindAHotel")',
                type: "POST",
                dataType: "text json",
                success: function (result, status, jqXHR) {
                    data = result;//data = JSON.stringify(result) ;
                    markers1 = data;
                    for (i = 0; i < markers1.length; i++) {
                            addMarker(markers1[i]);
                    }
                    //markerCluster = new MarkerClusterer(map, gmarkers1, {
                    //    imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
                    //});

                    loadmpa(map, gmarkers1);
                },
                error: function (res) {
                }
            });

        }

        function loadmpa(_map, gmarkers1) {
            //markerCluster.clearMarkers();
            //markerCluster.addMarkers(newmarkers);

            markerCluster = new MarkerClusterer(map, gmarkers1, {
                imagePath: 'https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m'
            });
        }


        function addMarker(marker) {
            var category = marker.AmenityIds;
            var title = marker.BranchNameEn;
            var pos = new google.maps.LatLng(parseFloat(marker.Lat),parseFloat(marker.Lng));
            var icons = getIcon(marker.HotelId);
            
            //var content = "<div style='width:300px;height:100px'><h3>" + marker.BranchNameEn + "</h3>" + marker.AddressEn + "</div><div> <a href='" + marker.BookingURL;
            var content = "<div style='width:200px;height:80px; '><div><strong>" + marker.BranchNameEn + "</strong> - " + marker.AddressEn + "</div><div><br/><a  style='background:#504742; color:#fff; padding:3px;' href='" + marker.BookingURL + "' target='_blank'>Book Now </a> &nbsp;  </div></div>";
            marker1 = new google.maps.Marker({
                title: title,
                position: pos,
                category: category,
                icon:icons,
                map: map
            });

            gmarkers1.push(marker1);
            // Marker click listener
            google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
                return function () {
                    // console.log('Gmarker 1 gets pushed');
                    infowindow.setContent('');
                   
                    infowindow.setContent(content);
                    infowindow.open(map, marker1);
                    //map.panTo(this.getPosition());
                    //map.setZoom(5);
                }
            })(marker1, content));
        }

        //
        filterMarkers = function (category) {
            var newmarkers = [];
            var checked = $("input[type=checkbox]:checked");
            var selTypes = [];
            for (var i = 0, len = checked.length; i < len; i++) {
                selTypes.push($(checked[i]).val());
            }
            //var cc = $('input[type=checkbox]').prop('checked');

                for (i = 0; i < markers1.length; i++) {
                    marker = gmarkers1[i];
                    var aaa = selTypes;
                    var bb = aaa.map(Number);
                    var selLen = bb.length;
                    var typeList = marker.category;
                    var markerTypeArr = marker.category.split(" ").join('');
                    //var b = markerTypeArr.split(',');
                    var c = markerTypeArr.split(',').map(Number);
                    var commonTypes = $.grep(bb, function (element) {
                        return $.inArray(element, c) !== -1;
                    });
                    if (bb.length == 0)
                    {
                        if (c.indexOf(parseInt(bb)) < 0) {
                            marker.setVisible(true);
                            //newmarkers.push(marker);
                        }
                    }
                    else {
                        if (commonTypes.length == selLen) {
                            marker.setVisible(true);
                            //newmarkers.push(marker);
                        }
                        else
                            marker.setVisible(false);
                    }
                    newmarkers.push(marker);
                }

                markerCluster.clearMarkers();
                loadmpa(map, newmarkers)

        }
        //google.maps.event.addDomListener(window, "load", initialize);

        $(document).ready(function () {
            $("input.cbamenity").on('change', function () {
                console.log("changed");

            });
        });

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBdRx3UKvK7wCC1xx-pYVt_Wihfa41S1M&callback=initMap">
    </script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            initialize();
        });
    </script>*@
}
