﻿
@{
    ViewBag.Title = "Boudl Group Find A hotel";

}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        .main {
            padding-bottom: 0;
        }
    </style>
}

<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12">
                          <div class="col-sm-10"></div>
                            <div class="col-sm-2">
                                <a href="#" id="Map1"><i class="fa-map-pin"></i>Map</a>
                                <a href="#" id="Data1"><i class="fa-th-list"></i>List</a>
                            </div>
                            
                        </div>
                        <!-- Page Content -->
                        <div class="col-sm-12" id="exploremap">
                            <!-- Text Widget -->
                            @*<div id="divcheck">
                                @if (ViewBag.HotelAmenities != null)
                                {
                                    <label>Amenities</label><br />
                                    foreach (var item in ViewBag.HotelAmenities)
                                    {
                                        <input type="checkbox" class="chk" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value"  style="margin-left:20px;" />@item.Text
                                        <span class="checkmark"></span>
                                    }
                                }
                            </div>*@
                            <div class="container-fluid" id="divcheck">
                                <div class="hotel__amenity__filter">
                                    <div class="filter__container">
                                        <div class="heading"><h2>Filters <span class="pull-right filter_list_show">Show Filters</span></h2></div>
                                        <div class="filter__container_list">
                                            @if (ViewBag.HotelAmenities != null)
                                            {
                                                foreach (var item in ViewBag.HotelAmenities)
                                                {
                                                    <label class="checkbox__container">
                                                        @item.Text
                                                        <input type="checkbox" id="amdId" name="AmenitiesIDs" title="@item.Text" value="@item.Value" />
                                                        <span class="checkmark"></span>
                                                    </label>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div id="divcheck2">
                                @if (ViewBag.BrandListMap != null)
                                {
                                    <label>Brands</label><br />
                                    foreach (var item in ViewBag.BrandListMap)
                                    {
                                        <input type="checkbox" class="chk" id="brdId" name="BrandIds" title="@item.Text" value="@item.Value"  style="margin-right:20px;" />@item.Text
                                        <span class="checkmark"></span>
                                    }
                                }
                            </div>
                            <div class="widget widget_text">
                                <div class="textwidget text-justify">
                                    <input type="hidden" value="" id="ZoomValue" />
                                    <input type="hidden" value="" id="latitude" />
                                    <input type="hidden" value="" id="longitude" />
                                    <div id="divmap">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- col-sm-8 -->
                        <div class="col-sm-4">
                        </div>
                        <!-- col-sm-4 -->
                        <div class="col-sm-12" id="exploredata">
                            <div class="col-sm-8" style="text-align:center"><h3><strong>Find Your Boudl Hotels</strong></h3></div><br />
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label>Select Brand</label> 
                                    @Html.ListBox("Brands", (IEnumerable<SelectListItem>)ViewBag.BrandList, new { @Id = "ddlBrands", @onchange = "ddlAmty()" })
                                </div>
                                <div class="col-sm-4">
                                    <label>Select City</label>
                                    @Html.DropDownList("HotelList", (IEnumerable<SelectListItem>)ViewBag.CoutrList, "Select City",new { @Id = "ddlHotel" } )
                                </div>
                                <div class="col-sm-4">
                                    <label>Select Hotel Amenity</label> 
                                    @Html.ListBox("HotelAmenities", (IEnumerable<SelectListItem>)ViewBag.HotelAmenities,  new { @Id = "ddlAmenity", @onchange = "ddlAmty()" })
                                </div>
                            </div>
                            <div class="col-sm-12" id="divhotelcities">
                               
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
    $("body").addClass("internal-pages sticky trans-header contact type-1");
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script>
    $("#hoteldetails").hide();
    //debugger;
    $('#exploredata').hide();
    $('#exploremap').show();
    $('#Map1').click(function () {
        $('#exploredata').hide();
        $('#exploremap').show();
    })
    $('#Data1').click(function () {
        $('#exploredata').show();
        $('#exploremap').hide();
    })
    //function filterMarkers(category) {
    //    alert('changed');
    //}
    var AmenityId = "";
    var HotelId = "";
    $(document).ready(function () {
        debugger;
        //var $buttonClicked = $(this);
        //var id = $buttonClicked.attr('data-id');
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        var options = { "backdrop": "static", keyboard: true };
        //var options = { "backdrop": "static", keyboard: true };
         AmenityId = "";
         var latlang = "";
         var BrandIds = "";

         HotelId = "";
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMapData")',
            //url:TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { HtId: HotelId, AmtId: AmenityId, BIds: BrandIds },
            datatype: "json",
            success: function (data) {
                $('#divhotelcities').html(data);
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
        debugger;
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMapByAmenity")',
            //url:TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { AmenitiesIDs: AmenityId, latlongzoom: latlang, BrandIds: BrandIds },
            datatype: "json",
            success: function (data) {
                $('#divmap').html(data);
               

            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });

    });
    $(document).ready(function () {

        $(":checkbox[name='AmenitiesIDs']").change(function () {
            debugger;
            var checked = "";
            var checked2 = "";


            $("#divcheck input:checked").each(function () {
                checked += $(this).val() + ",";
            });
            $("#divcheck2 input:checked").each(function () {
                checked2 += $(this).val() + ",";
            });
            //alert($(this).val());
            //alert(checked);
            var LatLongZoom = "";
            var zoom = $("#ZoomValue").val();
            var latlong = $("#latitude").val();
            LatLongZoom = latlong + "," + zoom;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapByAmenity")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { AmenitiesIDs: checked, latlongzoom: LatLongZoom, BrandIds: checked2 },
                datatype: "json",
                success: function (data) {
                    $("#divmap").empty();
                    $('#divmap').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        })
        $(":checkbox[name='BrandIds']").change(function () {
            debugger;
            var checked = "";
            var checked2 = "";


            $("#divcheck input:checked").each(function () {
                checked += $(this).val() + ",";
            });
            $("#divcheck2 input:checked").each(function () {
                checked2 += $(this).val() + ",";
            });
            //alert($(this).val());
            //alert(checked);
            var LatLongZoom = "";
            var zoom = $("#ZoomValue").val();
            var latlong = $("#latitude").val();
            LatLongZoom = latlong + "," + zoom;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetMapByAmenity")',
                //url:TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { AmenitiesIDs: checked, latlongzoom: LatLongZoom, BrandIds: checked2 },
                datatype: "json",
                success: function (data) {
                    $("#divmap").empty();
                    $('#divmap').html(data);
                    //$('#full').modal(options);
                    //$('#full').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        })

    });
  
    $('#ddlHotel').change(function () {
        HotelId = $(this).val();
        // Commented Temporarily
        var AmntId = AmenityId;
       

        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        var options = { "backdrop": "static", keyboard: true };
        var BrandIds = "";
        var id = "";
        var BrandIds = "";

        
        $("#ddlBrands option:selected").each(function () {
            BrandIds += $(this).val() + ",";
        });

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMapData")',
            //url:TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { HtId: HotelId, para: AmntId, BIds: BrandIds },
            datatype: "json",
            success: function (data) {
                $('#divhotelcities').html(data);
                //$('#full').modal(options);
                //$('#full').modal('show');

            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    })
    function ddlAmty() {
        var hotelid = HotelId;
        var id = "";
        var BrandIds = "";

        $("#ddlAmenity option:selected").each(function () {

            //var id = "" + $("#ddlAmenity").val() + ",";
            id += $(this).val() + ",";
        });
        $("#ddlBrands option:selected").each(function () {

            //var id = "" + $("#ddlAmenity").val() + ",";
            BrandIds += $(this).val() + ",";
        });


        @*var url = '@Url.Action("getData", "FindAHotel", new { HtId = "__HtId__", para = "__para__" })';
            var urlredirec = "FindAHotel/getData?HtId=" + 2 + "&para=" + id;
            window.location.href = "/boudldev/FindAHotel/getData?HtId=" + hotelid.toString() + "&para=" + id.toString();*@
        ////FindAHotel/getData?HtId=" + 75 + "&para=" + 2;
        //var $buttonClicked = $(this);
        //var testid = $buttonClicked.attr('data-id');
        //var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetMapData")',
            //url:TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: { HtId: hotelid, para: id,BIds:BrandIds },
            datatype: "json",
            success: function (data) {
                $('#divhotelcities').html(data);
                //$('#full').modal(options);
                //$('#full').modal('show');
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });

    }

    var Hdata = "@ViewData["HotelId"]";
    var Adata = "@ViewData["AmenityId"]";

    if (Hdata > 0) {
        $('#exploredata').show();
        $('#exploremap').hide();
        HotelId = Hdata;
        $('#ddlHotel option[value=' + Hdata + ']').attr("selected", true);
    }
    if (Adata > 0) {
        $('#exploredata').show();
        $('#exploremap').hide();
        AmenityId = Adata.toString();
        $('#ddlAmenity option[value=' + Adata + ']').attr("selected", true);
    }
   


</script>
  
}
