﻿@model BoudlGroup.CareerApplicationDTO

@{
    ViewBag.Title = "Boudl Group Find A hotel";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";

}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }

        .main {
            padding-bottom: 0;
        }
        .form-group{
            margin-bottom:20px;
        }
    </style>
}

<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">وظائف</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="subtitle">إبدأ حياتك المهنية في مجموعة فنادق و منتجعات بودل</div>

                            <form class="booking-form clearfix" method="post" enctype="multipart/form-data">



                                @if (ViewData["Success"] != null)
                                {
                                    //Success
                                    <div class="success">
                                        @Html.Raw(ViewData["Success"].ToString())
                                    </div>
                                }
                                else
                                {
                                    if (ViewData["Error"] != null)
                                    {
                                        //failure
                                        @Html.Raw(ViewData["Error"].ToString())
                                    }
                                    if (ViewBag.JobCatList != null)
                                    {
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">نوع المهنة</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="JobCategoryId" id="ddlJobCat" required>
                                                    <option selected="selected" value="">اختر</option>
                                                </select>
                                            </div>
                                            <div id="lbValidateJobCat"></div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">المهنة</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="PositionId" id="ddlPosition" required>
                                                    <option selected="selected" value="">اختر</option>
                                                </select>
                                            </div>
                                            <div id="lbValidatePos"></div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2">الاسم</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.FullName, new { id = "txtFullName", @class = "form-control", @maxlength = 250, @placeHolder = "الاسم بالكامل", @required = "true" })
                                            </div>
                                            <div id="lbValidateFName"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2">رقم الجوال</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.Phone, new { @type = "tel", id = "txtPhoneNumber", @maxlength = "12", @placeholder = "رقم الهاتف ( مكون من ١٢ رقم )", @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)" })
                                            </div>
                                            <div id="lbValidatePhone"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2">البريد الإلكتروني</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.Email, new { @type = "Email", id = "txtEmail", @class = "form-control", @maxlength = "150", @placeholder = "لبريد الإلكتروني", @required = "true" })
                                            </div>
                                            <div id="lbValidateEmail"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2">ارفق ملف</label>
                                            <div class="col-sm-4">
                                                <input name="fileUpload" id="DocUpload" accept="application/msword,application/pdf" type="file" required />
                                                @Html.ValidationMessageFor(model => model.ProfilePath, "", new { @class = "text-danger2" })
                                                <p id="fuError" style="color: red;"></p>
                                            </div>
                                            <div id="lbValidateFile"></div>
                                        </div>
                                        <div class="booking-button-container">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <button id="btnSubmit" style="margin-left:150px;" onclick="validateDestination()" class="btn btn-default">ارسال</button>
                                            </div>
                                        </div>
                                    }
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>

@section scripts{
   
    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode < 47 || charCode > 57))
                return false;
            return true;
        }
        function validateDestination()
        {
                var JobCate = $("#ddlJobCat").val();
                var Position = $("#ddlPosition").val();
                var location = $("#ddlLocation").val();
                var FName = $("#txtFullName").val();
                var PhoneNum = $("#txtPhoneNumber").val();
                var TEmail = $("#txtEmail").val();
                //var Position = $("#").val();


                if (JobCate == "" || JobCate == "0") {
                    $("#lbValidateJobCat").html("*إختر مجال وظيفي");
                    //$("#lbValidate").attr('style', 'color: #99003d !important');
                    $("#lbValidateJobCat").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateJobCat").html("");
                }
                if (Position == "" || Position=="Select" || Position=="0") {
                    $("#lbValidatePos").html("*إختر وظيفة");
                    $("#lbValidatePos").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidatePos").html("");
                }
                if (location == "") {
                    $("#lbValidateLocation").html("*إختر المكان");
                    $("#lbValidateLocation").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateLocation").html("");
                }
                if (FName == "") {
                    $("#lbValidateFName").html("*ادخر الإسم بالكامل");
                    $("#lbValidateFName").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateFName").html("");
                }
                if (PhoneNum == "" || length(PhoneNum)!=12) {
                    //$("#lbValidatePhone").html("*Enter 12 digit phone number with country code");
                    $("#lbValidatePhone").html("*ادخل رقم الجوال");

                    $("#lbValidatePhone").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidatePhone").html("");
                }
                if (TEmail == "") {
                    $("#lbValidateEmail").html("*ادخل البريد اللإلكتروني");
                    $("#lbValidateEmail").attr('style', 'color: #99003d;font-size:14px');
                }
                else {
                    $("#lbValidateEmail").html("");
                }
            }
            //$("body").addClass("homepage trans-header sticky white-datepicker");
            $(document).ready(function () {
                var jobcat=null;
                var ctId=null;
                var loc=null;
                //$("#ddlJobCat").empty();
                //$("#ddlJobCat").append($('<option>', {
                //    value: 0
                //}));
                var model = @Html.Raw(ViewBag.JobCatList);
                for(var i = 0; i < model.length; i++) {

                    $('#ddlJobCat').append($('<option>', {
                        value: model[i].Id,
                        text: model[i].NameAr
                    }))

                }
                $('#ddlJobCat').trigger("chosen:updated");
                $('#ddlJobCat').change(function () {
                    //var value = $(this).val();
                    jobcat=$(this).val();
                    $("#ddlPosition").empty();
                    $("#ddlPosition").append($('<option>', {
                        value: 0,
                        text: 'Select'
                    }));
                    var model1 = @Html.Raw(ViewBag.PositionList);
                    for(var i = 0; i < model1.length; i++) {
                        if (model1[i].JobCategoryId == jobcat) {
                            $('#ddlPosition').append($('<option>', {
                                value: model1[i].Id,
                                text: model1[i].PositionAr
                            }))
                        }
                    }
                    $('#ddlPosition').trigger("chosen:updated");
                });
                @*$('#ddlPosition').change(function () {
            //var value = $(this).val();
            //ctId=parseInt($(this).val());
            ctId=$(this).val();
            $("#ddlLocation").empty();
            $("#ddlLocation").append($('<option>', {
                value: 0
            }));
            var model2 = @Html.Raw(ViewBag.PositionList);
            for(var i = 0; i < model2.length; i++) {
                if (model2[i].JobCategoryId == jobcat && model2[i].CityId==ctId) {
                    $('#ddlLocation').append($('<option>', {
                        value: model2[i].Id,
                        text: model2[i].PositionEn
                    }))
                }
            }
            $('#ddlLocation').trigger("chosen:updated");
        });*@
                //$('#DocUpload').click(function() {
                //    var ext = $('#DocUpload').val().split(".").pop().toLowerCase();
                //    if($.inArray(ext, ["doc","pdf",'docx']) == -1) {
                //        // false
                //    }else{
                //        // true
                //    }
                //});
                $('#DocUpload').on( 'change', function() {
                    myfile= $( this ).val();
                    var ext = myfile.split('.').pop().toLowerCase();
                    if(ext=="pdf" || ext=="docx" || ext=="doc")
                    {
                        $("#btnSubmit").attr("disabled", false);
                        $(".text-danger2").text("");
                    }
                    else
                    {

                        $(".text-danger2").text("Invalid File! You can upload only doc and pdf file.");
                        $("#btnSubmit").attr("disabled", true);
                    }
                });
            });
    </script>
}