﻿
@{
    ViewBag.Title = "Boudl Group CEO Message";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Chief Executive Officer's Message</h1>
                <div class="entry-content">
                    <img src="~/images/executive-board/6.jpg" class="img-chariman md-img" alt="Mr. Naser bin Saleh AlKhlaiwi" />
                    <blockquote>
                        <p>
                            Kingdom of Saudi Arabia’s leadership has planned for the country to be the most distinguished and prestigious among the world countries. Strong due to the wisdom of its leadership, people, and economy. A powerful nation under the leadership of the custodian of the two  mosques King Salman bin Abdulaziz, the crown prince Mohammad bin Salman. The government that is passionate for development and works hard to benefit all humanity.<br />
                            With Allah’s graciousness, from one success to another, the Kingdom and we share its achievements due to the goals, ambitions, and constant endeavors of the crown price Mohammad bin Salman.<br />
                            He has ambitiously launched vision 2030, where he and we read and plan for the future. His and our path is to modernize and develop the kingdom to be an exceptional and more recognized country among the world’s countries.
                            <cite>Naser Saleh Al-Khelaiwi - CEO</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
