﻿
@{
    ViewBag.Title = "آخر الأخبار من بودل";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }
        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/LuxuryHotelAward">
                                    <img src="~/images/news/luxury-awards.jpg" alt=" جائزة الفخامة الفندقية العالمية" class="img-responsive" />
                                </a>
                                <a href="~/ar/LuxuryHotelAward" class="post-title"> جائزة الفخامة الفندقية العالمية</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/BrairaCordobaBranch">
                                    <img src="~/images/news/braira-cordoba.jpg" alt="قريباً إفتتاح فندق بريرا فرع قرطبة بالرياض " class="img-responsive" />
                                </a>
                                <a href="~/ar/BrairaCordobaBranch" class="post-title">قريباً إفتتاح فندق بريرا فرع قرطبة بالرياض </a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/AberHotels">
                                    <img src="~/images/news/aber-2.jpg" alt="Aber Hotels" class="img-responsive" />
                                </a>
                                <a href="~/ar/AberHotels" class="post-title">قريباً إفتتاح فندق عابر فرع الصحافة</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/NarcissusTowerRiyadh">
                                    <img src="~/images/news/narcisuss-tower1.jpg" alt="برج نارسيس الرياض" class="img-responsive" />
                                </a>
                                <a href="~/ar/NarcissusTowerRiyadh" class="post-title">برج نارسيس الرياض</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/BrairaAlNakhil">
                                    <img src="~/images/news/braira-al-nakhil.jpg" alt=" بريرا النخيل الرياض " class="img-responsive" />
                                </a>
                                <a href="~/ar/BrairaAlNakhil" class="post-title"> بريرا النخيل"  الرياض" </a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/BrairaAlWizarat">
                                    <img src="~/images/news/braira-al-wizarat.jpg" alt="إفتتاح فندق بريرا حى الوزارات " class="img-responsive" />
                                </a>
                                <a href="~/ar/BrairaAlWizarat" class="post-title">إفتتاح فندق بريرا حى الوزارات </a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/BrairaVillas">
                                    <img src="~/images/news/braira-hitin.jpg" alt="  إفتتاح منتجع فيلات بريرا " class="img-responsive" />
                                </a>
                                <a href="~/ar/BrairaVillas" class="post-title">  إفتتاح منتجع فيلات بريرا </a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/BrairaAlDammam">
                                    <img src="~/images/news/AlDammam1.jpg" alt="إفتتاح فندق بريرا الدمام ( خمس نجوم )" class="img-responsive" />
                                </a>
                                <a href="~/ar/BrairaAlDammam" class="post-title">إفتتاح فندق بريرا الدمام ( خمس نجوم ) </a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">06 - May - 2018</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6 news-container">
                            <div class="post-box">
                                <a href="~/ar/NarcissusObhurJeddah">
                                    <img src="~/images/news/narcissus-jeddah.png" alt=" إفتتاح نارسيس أُبـــحر جدة" class="img-responsive" />
                                </a>
                                <a href="~/ar/NarcissusObhurJeddah" class="post-title"> إفتتاح نارسيس أُبـــحر جدة</a>
                                <div class="post-meta clearfix">
                                    <div class="post-date">10- May - 2018</div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}

