﻿
@{
    ViewBag.Title = "Narcissus Tower Riyadh ";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/narcisuss-tower1.jpg" alt="Narcissus Tower Riyadh " class="img-responsive" />
                                <h3 class="post-title">Narcissus Tower Riyadh </h3>
                                <p class="text-justified">
                                    We are pleased to announce very soon the official opening of the Narcissus Tower, adjacent to the Narcissus Hotel Riyadh on Tahlia Street. Narcissus has become a very common name in the world of hospitality, and for the past five years since its opening, it has proudly won four awards for international luxury. Hotel Narcissus is characterized by elegance and beauty in terms of exterior design, which inspires heritage and originality, in addition to the luxury of furnishings and facilities that dazzle the eyes of all who see it, in addition to many other services such as restaurants, gymnasiums, wedding halls, conferences halls, swimming pools and spa in the hotel and many other amenities.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}