﻿
@{
    ViewBag.Title = "Boudl Group Mission &amp; Vision";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }

        .main {
            padding-bottom: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">                
                <div class="entry-content">                    
                    <div class="our-vision vision-bg-new">
                        <h3 class="txt-white">رؤيتنا </h3>
                        <img src="~/areas/ar/images/vision.png" class="vision-mission" alt="Our Vision" />
                        <p>
                            الخيار الأول للضيف و الريادة في الصناعة الفندقية.
                        </p>
                        <h3 class="txt-white">أهدافنا</h3>
                        <img src="~/areas/ar/images/mission.png" class="vision-mission" alt="Our Mission" />
                        <p>
                            تقديم خدمات مميزة للضيف تحقق رضاه التام.
                        </p>
                    </div>
                    <div class="our-vision our-vision-bg">
                        <h3 class="txt-white">أهدافنا ا ستراتيجية</h3>
                        
                        <ul class="our-objectives">
                            <li><span> 	الحفاظ على مركزنا في صدارة الصناعة الفندقية في المملكة العربية السعودية.</span></li>
                            <li><span>الأرتقاء بمستوى خدماتنا لتكون دائما متميزة وذات جودة عالية.</span></li>
                            <li><span>تحقيق اكبر عائد على استثماراتنا من خلال مزيج تسويقي متكامل.</span></li>
                            <li><span>إقامة فنادق و شقق فندقية و منتجعات متفردة في أسواق جديدة.</span></li>
                            <li><span>المساهمة في خدمة المجتمع. </span></li>
                        </ul>
                    </div>
                    <div class="our-vision new-bg-2">
                        <h3 class="txt-white">قيمنا التنظيمية</h3>
                        <ul class="our-objectives">
                            <li><span>الضيافة</span></li>
                            <li><span>الابداع</span></li>
                            <li><span>العمل الجماعي</span></li>
                            <li><span>المعاملة الراقية</span></li>
                            <li><span>المصداقية</span></li>
                        </ul>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}