﻿
@{
    ViewBag.Title = " برج نارسيس الرياض ";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/narcisuss-tower1.jpg" alt=" برج نارسيس الرياض " class="img-responsive" />
                                <h3 class="post-title"> برج نارسيس الرياض </h3>
                                <p class="text-justified">
                                    يسعدنا أن نعلن قريباًً عن الأفتتاح الرسمى لبرج نارسيس و المجاور لفندق نارسيس الرياض بشارع التحلية, نارسيس أصبح أسم غنى عن التعريف فى عالم الضيافة, فطيلة خمس سنوات منذ الأفتتاح حصد وبكل فخر أربعة جوائز للفخامة العالمية. فندق نارسيس يمتاز بالرونق و الجمال من حيث التصميم الخارجى الذى يوحى بالعراقة و الأصالة , بالأضافة لفخامة المفروشات و التجهيزات الداخلية والتى تبهر أعين كل من يراها, بالأضافة لكثير من الخدمات الأخرى مثل المطاعم و الصالات الرياضية و قاعات الأفراح و المؤتمرات والمسابح و المنتجع الصحى داخل الفندق وغيرها الكثير من المزايا.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}