﻿
@{
    ViewBag.Title = "Braira Villas Grand Opening";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/braira-hitin.jpg" alt="Braira Villas Grand Opening" class="img-responsive" />
                                <h3 class="post-title">Braira Villas Grand Opening</h3>
                                <p class="text-justified">
                                    Braira Hotel &amp; Villas Will be opened soon to public in Hitin district- Riyadh City. This is the first time in the Kingdom that a hotel & Villa has been established, consisting of private villas comprising all services in an elegant style, furniture that is very luxurious and elegant. The resort is fully integrated in terms of services and entertainment. Each has a private swimming pool and glamour decorations.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">28 - Oct - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}