﻿
@{
    ViewBag.Title = "Boudl Group Managing Director Message";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Managing Director's Message</h1>
                <div class="entry-content">
                    <img src="~/images/executive-board/7.jpg" class="img-chariman md-img" alt="Khaled bin Saleh Al-Khelaiwi" />
                    <blockquote>
                        <p>
                            “Boudl” company was established in 1959 under the name of Saleh Naser AlKhelaiwi and sons Co. where it started in food supplies trade and pioneered in this field in the Eastern province.<br />
                            In 1985 and after a thorough study of the tourism market and governmental trend towards the tourism resources development, the company decided to open its first hotel under the name of Al-Khelaiwi in Hafr AlBaten and in few years, the company opened a number of hotels throughout the KSA and Kuwait.<br />
                            Through its journey of success, the company created the “Boudl” brand which became the first brand in the hospitality field in KSA. Then the company created other brands such as “Narcissus, “Braira”, “Boudl Aber” and “Boudl Hotel Apartments”, in addition to other activities that formed the “Boudl Group”.<br />
                            In 2014 “Boudl” transformed from a limited liability company into a closed point stock company, It is expected to be enlisted in the financial market year 2018 as a strategic goal in addition to other goals such as growth, propagation, and best investment in its commercial brands.<br />
                            “Boudl Group” policy has been built on the basis of meeting the needs of Five, Four and Three Star hotels guests as well as the hotel apartments.<br />
                            “Boudl Group”  success has motivated it to be launched globally to be the first Saudi  company  that provides it services in an authentic Arabic Styles.

                            <cite>Khaled bin Saleh Al-Khelaiwi - Managing Director</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}