﻿@model BoudlGroup.CareerApplicationDTO
@{
    ViewBag.Title = "Boudl Group - Careers";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        .main {
            padding-bottom: 0;
        }
        .success{
            padding:20px;
        }
    </style>

}

<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Careers</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="subtitle">Apply online for a career in Boudl Group</div>

                            <form class="booking-form clearfix" method="post" enctype="multipart/form-data">

                                @if (ViewData["Success"] != null)
                                {
                                    //Success
                                    <div class="success">
                                            @Html.Raw(ViewData["Success"].ToString())
                                    </div>
                                }
                                else
                                {
                                    if (ViewData["Error"] != null)
                                    {
                                        //failure
                                        @Html.Raw(ViewData["Error"].ToString())
                                    }
                                    if (ViewBag.JobCatList != null)
                                    {
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Job Category</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="JobCategoryId" id="ddlJobCat" required>
                                                    <option selected="selected" value="">Select</option>
                                                </select>
                                            </div>
                                            <div id="lbValidateJobCat"></div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Position</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="PositionId" id="ddlPosition" required>
                                                    <option selected="selected" vaalu="">Select</option>
                                                </select>
                                            </div>
                                            <div id="lbValidatePos"></div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2">Applicant Name</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.FullName, new { id = "txtFullName", @class = "form-control", @maxlength = 250, @placeHolder = "Enter Full Name",@required="true" })
                                            </div>
                                            <div id="lbValidateFName"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2">Mobile Number</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.Phone, new { @type = "tel", id = "txtPhoneNumber", @maxlength = "12", @placeholder = "Enter 12 Digits Phone Number", @class = "form-control", @required = "true", @onkeypress = "return isNumberKey(event)" })
                                            </div>
                                            <div id="lbValidatePhone"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2">Email</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.Email, new { @type = "Email", id = "txtEmail", @class = "form-control", @maxlength = "150", @placeholder = "Enter valid Email Id", @required = "true" })
                                            </div>
                                            <div id="lbValidateEmail"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2">File Upload</label>
                                            <div class="col-sm-4">
                                                <input name="fileUpload" id="DocUpload" accept="application/msword,application/pdf" type="file" required />
                                                @Html.ValidationMessageFor(model => model.ProfilePath, "", new { @class = "text-danger2" })
                                                <p id="fuError" style="color: red;"></p>
                                            </div>
                                            <div id="lbValidateFile"></div>
                                        </div>
                                        <div class="booking-button-container">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <button id="btnSubmit" style="margin-left:150px;" onclick="validateDestination()" class="btn btn-default">Submit</button>
                                            </div>
                                        </div>
                                    }
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>

@section scripts{
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script type="text/javascript">
            $("body").addClass("internal-pages room-details trans-header sticky")
    </script>
    <script type="text/javascript">
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode < 47 || charCode > 57))
                return false;
            return true;
        }
            //$("body").addClass("homepage trans-header sticky white-datepicker");
            $(document).ready(function () {
                var jobcat=null;
                var ctId=null;
                var loc=null;
                //$("#ddlJobCat").empty();
                //$("#ddlJobCat").append($('<option>', {
                //    value: 0
                //}));
                var model = @Html.Raw(ViewBag.JobCatList);
                for(var i = 0; i < model.length; i++) {

                    $('#ddlJobCat').append($('<option>', {
                        value: model[i].Id,
                        text: model[i].NameEn
                    }))

                }
                $('#ddlJobCat').trigger("chosen:updated");
                $('#ddlJobCat').change(function () {
                    //var value = $(this).val();
                    jobcat=$(this).val();
                    $("#ddlPosition").empty();
                    $("#ddlPosition").append($('<option>', {
                        value: 0,
                        text: 'Select'
                    }));
                    var model1 = @Html.Raw(ViewBag.PositionList);
                    for(var i = 0; i < model1.length; i++) {
                        if (model1[i].JobCategoryId == jobcat) {
                            $('#ddlPosition').append($('<option>', {
                                value: model1[i].Id,
                                text: model1[i].PositionEn
                            }))
                        }
                    }
                    $('#ddlPosition').trigger("chosen:updated");
                });
                @*$('#ddlPosition').change(function () {
            //var value = $(this).val();
            //ctId=parseInt($(this).val());
            ctId=$(this).val();
            $("#ddlLocation").empty();
            $("#ddlLocation").append($('<option>', {
                value: 0
            }));
            var model2 = @Html.Raw(ViewBag.PositionList);
            for(var i = 0; i < model2.length; i++) {
                if (model2[i].JobCategoryId == jobcat && model2[i].CityId==ctId) {
                    $('#ddlLocation').append($('<option>', {
                        value: model2[i].Id,
                        text: model2[i].PositionEn
                    }))
                }
            }
            $('#ddlLocation').trigger("chosen:updated");
        });*@
                //$('#DocUpload').click(function() {
                //    var ext = $('#DocUpload').val().split(".").pop().toLowerCase();
                //    if($.inArray(ext, ["doc","pdf",'docx']) == -1) {
                //        // false
                //    }else{
                //        // true
                //    }
                //});
                $('#DocUpload').on( 'change', function() {
                    myfile= $( this ).val();
                    var ext = myfile.split('.').pop().toLowerCase();
                    if(ext=="pdf" || ext=="docx" || ext=="doc")
                    {
                        $("#btnSubmit").attr("disabled", false);
                        $(".text-danger2").text("");
                    }
                    else
                    {

                        $(".text-danger2").text("Invalid File! You can upload only doc and pdf file.");
                        $("#btnSubmit").attr("disabled", true);
                    }
                });
                
            });
        function validateDestination() 
        {
            debugger
            var JobCate = $("#ddlJobCat").val();
            var Position = $("#ddlPosition").val();
            var location = $("#ddlLocation").val();
            var FName = $("#txtFullName").val();
            var PhoneNum = $("#txtPhoneNumber").val();
            var TEmail = $("#txtEmail").val();
            //var Position = $("#").val();


            if (JobCate == "" || JobCate == "0") {
                $("#lbValidateJobCat").html("*Please select Job Category");
                //$("#lbValidate").attr('style', 'color: #99003d !important');
                $("#lbValidateJobCat").attr('style', 'color: #99003d;font-size:14px');
            }
            else {
                $("#lbValidateJobCat").html("");
            }
            if (Position == "" || Position=="Select" || Position=="0") {
                $("#lbValidatePos").html("*Please select Position");
                $("#lbValidatePos").attr('style', 'color: #99003d;font-size:14px');
            }
            else {
                $("#lbValidatePos").html("");
            }
            if (location == "") {
                $("#lbValidateLocation").html("*Please select Job Location");
                $("#lbValidateLocation").attr('style', 'color: #99003d;font-size:14px');
            }
            else {
                $("#lbValidateLocation").html("");
            }
            if (FName == "") {
                $("#lbValidateFName").html("*Enter Applicant Full Name");
                $("#lbValidateFName").attr('style', 'color: #99003d;font-size:14px');
            }
            else {
                $("#lbValidateFName").html("");
            }
            if (PhoneNum == "" || length(PhoneNum)!=12) {
                $("#lbValidatePhone").html("*Enter 12 digit phone number with country code");
                $("#lbValidatePhone").attr('style', 'color: #99003d;font-size:14px');
            }
            else {
                $("#lbValidatePhone").html("");
            }
            if (TEmail == "") {
                $("#lbValidateEmail").html("*Enter Email Id");
                $("#lbValidateEmail").attr('style', 'color: #99003d;font-size:14px');
            }
            else {
                $("#lbValidateEmail").html("");
            }
        }
    </script>
}