﻿@model BoudlGroup.HomePageViewModel
@{
    ViewBag.Title = "Boudl Group Chairmen's Message";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            @foreach (var item in Model.boardmemberslist)
            {
                if (item.HasMessage == true )
                {
                    <article class="entry">
                        <h1 class="entry-title">@{@item.DesignationAr}'s Message<</h1>
                        <div class="entry-content">
                            <img src="@item.ImagePath" class="img-chariman md-img" />
                            <blockquote>
                                <p>
                                    @item.MessageAr
                                    <cite>@item.NameEn - @item.DesignationAr</cite>
                                </p>
                            </blockquote>
                        </div>
                    </article>
                }

            }


        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}