﻿@model BoudlGroup.HomePageViewModel

@{
    ViewBag.Title = "Contact Us";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        iframe {
            width: 100%;
        }
    </style>
}

<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Contact US</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d538.3477939952562!2d46.64726878057367!3d24.81058969775082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9268e352beabb810!2sBraira+al+sahafa+hotel!5e0!3m2!1sen!2suk!4v1510924816251" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <address>
                    4519 King Abdul Aziz Branch Rd, As Sahafah, Riyadh 13321 4519, Saudi Arabia
                </address>
                <section>
                    <div id="form-wrapper" class="group">
                        <div id="respond" class="comment-respond">
                            <h3>Feedback</h3>
                            @if (ViewData["MailMsg"].ToString() == "1")
                            {
                                <div id="divMailSentMsg" style="display:block; color:green">Thank you for your valuable feedback.</div>
                            }
                            @if (ViewData["MailMsg"].ToString() == "2")
                            {
                                <div id="divMailSentMsg" style="display:block; color:red">Something went wrong. Please resend your valuable feedback.</div>
                            }
                            @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { id = "frmContactUs" }))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.AntiForgeryToken()
                                <form action="/" method="post" id="commentform" class="comment-form" novalidate="">
                                    <p class="comment-notes">required fields are marked <span class="required">*</span> </p>
                                    <p class="comment-form-author">
                                        <label for="author">Name <span class="required">*</span></label>
                                        @*   <input id="author" name="author" type="text" size="30" aria-required="true">*@
                                        @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control", @placeholder = "Enter Name", @id = "txtName" })
                                        @Html.ValidationMessageFor(model => model.NameEn, "", new { @class = "text-danger" })


                                    </p>
                                    <p class="comment-form-email">
                                        <label for="email">Email <span class="required">*</span></label>
                                        @*<input id="email" name="email" type="email" size="30" aria-required="true">*@
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter Email", @id = "txtemail" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                                    </p>
                                    <p class="comment-form-comment">
                                        <label for="comment">Comment</label>
                                        @*<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>*@
                                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @placeholder = "Enter Comment", @id = "txtcomment" })
                                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })


                                    </p>
                                    <p class="form-submit">
                                        <input name="submit" type="submit" id="submit" value="send" />
                                    </p>
                                </form>
                            }
                        </div>
                        <!-- #respond -->
                    </div>
                    <!-- #form-wrapper -->
                </section>
            </article>
        </main>
    </div>
</div>
<script src="~/js/jquery-1.12.3.min.js"></script>
@*@section scripts{*@
<script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
</script>
@*}*@
<script type="text/javascript">
    $(document).ready(function () {
        $("txtName").val() = "";
        $("txtemail").val('');
        $("txtcomment").val('');
           
            @*var msg='@Model.message';
            if('@Model.message'=="1")
            {
                $('#divMailSentMsg').show()

                                       .css('color', 'green')
                                       .text('Thank You for your valuable feeback');
            }
            else if('@Model.message'=="2")
            {
                $('#divMailSentMsg').fadeIn(300)
                                      .css('color', 'red')
                                      .text('Something went wrong. Please resend your valuable feedback.');
            }
            else if ('@Model.message' == '')
            {
                //do nothing
            }*@
        });
    </script>
