﻿
@{
    ViewBag.Title = "About Boudl Group | Hotels in Saudi Arabia";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">About US</h1>
                <div class="entry-content">
                    <div class="entry-intro txt-18">
                        <p>
                            The Commercial company of Saleh Nasser El Khelaiwi &amp; Sons was founded in 1959 & pioneered in the distribution of food supplies in the Eastern Province. Later, the company’s activities expanded in the field of exports &amp; imports &amp;
                            gained a reputable name, Nationwide, in the food supplies industry.In 1985 the company has pentrated the hospitality
                            industry with the concept of operating furnished apartments &amp; opened it’s first hotel in Hafer Al Baten. During
                            few years, the company’s development in this field spread throughout the Kingdom of Saudi Arabia to include apartment
                            hotels in various cities. Today, Boudl became a major hotel management company in the Arabian Gulf.
                        </p>
                    </div>

                </div>
                <div class="entry-content text-center">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-container">
                                <img src="~/images/about-board.jpg" alt="board members" class="img-responsive" />
                                <a href="~/executiveboard">View Full List of Our Executive Board <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-container ">
                                <img src="~/images/about-us-award.png" alt="boudl awards" class="img-responsive" />
                                <h5><strong>Vision &amp; Mission :</strong> To be the first choice for the guest and be the pioneers in the hotel ... <a href="~/missionvision" class="txt-red">More</a></h5>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="img-container text-center">
                                <img src="~/images/about-profile-brands.png" alt="Boudl brands profile" class="img-responsive" />
                                <h5>Check the latest boudl profile</h5>
                                <h5><i class="fa fa-file-pdf-o"></i> Download it from <a href="javascript:;" class="txt-red">here</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-content">
                    <div class="row ">
                        <div class="col-md-12">
                            <h1 class="text-center">Our Brands</h1>
                            <ul class="brands">
                                <li>
                                    <a href="http://boudlgroup.com">
                                        <img src="~/images/boudl-gr.png" alt="boudl group" class="img-boudl-group" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://boudl.com" target="_blank">
                                        <img src="~/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://brairahotels.com/" target="_blank">
                                        <img src="~/images/braira-1.png" alt="braira" class="img-braira" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                                        <img src="~/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://aberhotels.com/" target="_blank">
                                        <img src="~/images/aber.png" alt="aber" class="img-aber" />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="~/images/bur.png" alt="bur" class="img-bur" />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="~/images/pampa-grill-logo.png" alt="pampa grill" class="img-bur" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- end row-->
                </div>
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}