﻿@model BoudlGroup.HomePageViewModel
@{
    ViewBag.Title = "Boudl Group Hotels";
}
<style>
    .custom-video{
        position: absolute;
        height: auto;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<div class="ci-content-slider-wrapper">
    @if (Model.slideshowType == 1)
    {
        <div class="ci-slider ci-content-slider loading" data-effect="fade" data-autoslide="1" data-slide-speed="5000" data-animationspeed="600">
            <ul class="slides mm">
                
                @foreach (var item in Model.SlideshowImages)
                {
                    <a href="@item.NavigationUrl" target="_blank">
                        <li style="background-image: url(@item.url)"></li>
                    </a>
                    

                }
                @*<li style="background-image: url(https://placehold.it/1920x1080/154f88/fff)"></li>
                    <li style="background-image: url(https://placehold.it/1920x1080/f4d362/fff)"></li>
                    <li style="background-image: url(https://placehold.it/1920x1080/e45725/fff)"></li>
                    <li style="background-image: url(https://placehold.it/1920x1080/154f88/fff)"></li>*@
            </ul>
        </div>

    }
    else if (Model.slideshowType == 2)
    {
        <div class="video-container ">
            <video id="my-video" class="video-js vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active custom-video" controls preload="auto" poster="#" data-setup="{}" autoplay muted loop>
                <source src=@Model.SlideshowImages.First().url type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    }
    else if (Model.slideshowType == 3)
    {
        <div id="ci-video-background" data-video-type="youtube" data-video-id="@Model.SlideshowImages.First().url">
            <div id="youtube-vid"></div>
        </div>
    }
    
</div>


<div class="slide-controls"> <a href="#" class="slide-control slide-control-prev"><i class="fa fa-angle-left"></i></a> <a href="#" class="slide-control slide-control-next"><i class="fa fa-angle-right"></i></a> </div>
<div class="clearfix">  </div>
<div class="white-bg our-brands">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="text-center">Our Brands</h1>
                <ul class="brands">
                    <li>
                        <a href="http://boudl.com" target="_blank">
                            <img src="~/images/boudl-gr.png" alt="boudl group" class="img-boudl-group" />
                        </a>
                    </li>
                    <li>
                        <a href="http://boudl.com" target="_blank">
                            <img src="~/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                        </a>
                    </li>
                    <li>
                        <a href="http://brairahotels.com/" target="_blank">
                            <img src="~/images/braira-1.png" alt="braira" class="img-braira" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                            <img src="~/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                        </a>
                    </li>
                    <li>
                        <a href="http://aberhotels.com/" target="_blank">
                            <img src="~/images/aber.png" alt="aber" class="img-aber" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="~/images/bur.png" alt="bur" class="img-bur" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="~/images/pampa-grill-logo.png" alt="pampa grill" class="img-bur" />
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- end row-->
        <div class="row">
            <div class="col-md-12">
                <hr class="hr-ruler" />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
                <h2 class="about-span"><img src="~/images/about-icon.png" alt="about 1" /> <span>About Boudl</span></h2>
                <p class="about-p ">
                    @*Boudl company was established in 1959 under the name of Saleh Naser to Khelaiwi and Sons Co. In few years, the company opened a number of hotels throughout the KSA &amp; Kuwait,*@ 
                    @if (ViewBag.HomeAboutList != null)
                    {
                        foreach (var item in ViewBag.HomeAboutList)
                        {
                            @Html.Raw(HttpUtility.HtmlDecode(item.DescriptionEn))
                        }
                    }
                    <a href="~/about">more</a>.

                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="about-span"><img src="~/images/tree.png" alt="about 2" /> <span>Boudl Resorts</span></h2>
                <p class="about-p">
                    Our collection includes such fine luxury resorts as the Boudl Gardeinia Hotel, Boudl Alkhobar, and The Boudl Palestine, steeped in history and a city landmark, <a href="javascript:;">more</a>.
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="about-span"><img src="~/images/credit-card.png" alt="about 3" /> <span>Boudl Loyalty</span></h2>
                <p class="about-p">
                    We are pleased to announce our new loyalty membership program, now and with ease and peace you can join Boudl family and be a very special, <a href="javascript:;">more</a> 
                </p>
            </div>
        </div><!-- end row-->
    </div>
</div>
<div class="membership-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-4">
                <h3>Platinum Card</h3>
                <img src="~/images/platinum.png" alt="platinum" class="img-responsive" />
                <p>
                    2 Nights free while opening new hotel / branches
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Golden Card</h3>
                <img src="~/images/golden.png" alt="golden" class="img-responsive" />
                <p>
                    1 Nights free while opening new hotel / branches
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>Silver Card</h3>
                <img src="~/images/silver.png" alt="silver" class="img-responsive" />
                <p>
                    15% discount while opening new hotel / branches
                </p>
            </div>
        </div>
    </div><!-- end container-->
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    &copy; 2017 Boudl Group All Rights Reserved | Website by <a href="http://www.creative-sols.com" target="_blank">Creative Solutions</a>
                </p>
            </div>
        </div>
    </div>
</div><!-- end footer-copyright-->
