﻿@model BoudlGroup.HomePageViewModel
@{
    ViewBag.Title = "Boudl Group Four Star | Five Star Hotels Saudi Arabia";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}

<div class="ci-content-slider-wrapper">
    @if (Model.slideshowType == 1)
    {
        <div class="ci-slider ci-content-slider loading" data-effect="fade" data-autoslide="1" data-slide-speed="5000" data-animationspeed="600">
            <ul class="slides mm">

                @foreach (var item in Model.SlideshowImages)
                {
                    <li style="background-image: url(@item.url)"></li>

                }
                @*<li style="background-image: url(https://placehold.it/1920x1080/154f88/fff)"></li>
                    <li style="background-image: url(https://placehold.it/1920x1080/f4d362/fff)"></li>
                    <li style="background-image: url(https://placehold.it/1920x1080/e45725/fff)"></li>
                    <li style="background-image: url(https://placehold.it/1920x1080/154f88/fff)"></li>*@
            </ul>
        </div>

    }
    else if (Model.slideshowType == 2)
    {
        <div class="video-container">
            <video id="my-video" class="video-js vjs-controls-enabled vjs-workinghover vjs-v6 my-video-dimensions vjs-playing vjs-user-active" controls preload="auto" poster="#" data-setup="{}" autoplay muted loop>
                <source src=@Model.SlideshowImages.First().url type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    }
    else if (Model.slideshowType == 3)
    {
        <div id="ci-video-background" data-video-type="youtube" data-video-id="@Model.SlideshowImages.First().url">
            <div id="youtube-vid"></div>
        </div>
    }

</div>

<div class="slide-controls"> <a href="#" class="slide-control slide-control-prev"><i class="fa fa-angle-left"></i></a> <a href="#" class="slide-control slide-control-next"><i class="fa fa-angle-right"></i></a> </div>
<div class="clearfix">  </div>
<div class="white-bg our-brands">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="text-center">مجموعة بودل</h1>
                <ul class="brands">
                    <li>
                        <a href="http://boudl.com" target="_blank">
                            <img src="~/areas/ar/images/boudl-gr.png" alt="boudl group" class="img-boudl-group" />
                        </a>
                    </li>
                    <li>
                        <a href="http://boudl.com" target="_blank">
                            <img src="~/areas/ar/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                        </a>
                    </li>
                    <li>
                        <a href="http://brairahotels.com/" target="_blank">
                            <img src="~/areas/ar/images/braira-1.png" alt="braira" class="img-braira" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                            <img src="~/areas/ar/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                        </a>
                    </li>
                    <li>
                        <a href="http://aberhotels.com/" target="_blank">
                            <img src="~/areas/ar/images/aber.png" alt="aber" class="img-aber" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="~/areas/ar/images/bur.png" alt="bur" class="img-bur" />
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="~/areas/ar/images/pampa-grill-logo.png" alt="pampa grill" class="img-bur" />
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- end row-->
        <div class="row">
            <div class="col-md-12">
                <hr class="hr-ruler" />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
                <h2 class="about-span"><img src="~/areas/ar/images/about-icon.png" alt="عن بودل" /> <span>عن بودل</span></h2>
                <p class="about-p ">
                    تأسست شركة بودل عام ١٩٥٩م تحت اسم شركة صالح ناصر الخليوى وأولاده التجارية. وخلال أعوام قليلة إستطاعت الشركة إقامة العديد من الفنادق فى عدة مناطق من المملكة و دولة الكويت, وخلال مسيرة الشركة فى مجال الصناعة الفندقية, أنشأت العلامة التجارية الأولى فى مجال إدارة وتشغيل الفنادق فى المملكة <a href="~/ar/about">هنا</a>.
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="about-span"><img src="~/areas/ar/images/tree.png" alt="about 2" /> <span>منتجعات بودل</span></h2>
                <p class="about-p">
                    تضم مجموعة بودل عدة منتجعات تمتاز بالفخامة و وفرة وسائل الترفيه, وأبرزها منتجع بريرا العزيزية والذى يُعد مقصد للعائلة لقضاء وقت ممتبع بصحبة الأطفال والأقارب على الشاطىء وحمامات السباحة والأستمتاع بالألعاب المائية, أيضا شاليهات بودل النخيل التى تمتاز بالهدوء وسط الحدائق والرونق العربى, للمزيد إضغط <a href="javascript:;">هنا</a>.
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="about-span"><img src="~/areas/ar/images/credit-card.png" alt="نظام عضوية بودل" /> <span>نظام عضوية بودل</span></h2>
                <p class="about-p">
                    الآن وبكل سهولة يمكنكم الأنضمام لأسرة بودل عن طريق نظام العضوية, الذى يتيح لكم العديد من المزايا, لتستمتعوا بكافة خدمات المجموعة والحصول وبأسعار مميزة, للمزيد عن نظام العضوية إضغط <a href="javascript:;">هنا</a>
                </p>
            </div>
        </div><!-- end row-->
    </div>
</div>
<div class="membership-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-4">
                <h3>البطاقة البلاتينية</h3>
                <img src="~/areas/ar/images/platinum.png" alt="platinum" class="img-responsive" />
                <p>
                    أفتتاح فرع أو فندق جديد
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>البطاقة الذهبية</h3>
                <img src="~/areas/ar/images/golden.png" alt="golden" class="img-responsive" />
                <p>
                    أحصل على ليلة مجانية أثناء إفتتاح إحدى فرع أو فندق جديد
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>البطاقة الفضية</h3>
                <img src="~/areas/ar/images/silver.png" alt="silver" class="img-responsive" />
                <p>
                    أحصل على خصم ١٥٪ فى حين إفتتاح فرع أو فندق جديد
                </p>
            </div>
        </div>
    </div><!-- end container-->
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    &copy; 2017  جميع الحقوق محفوظة لشركة بودل. تم تطويره من خلال <a href="http://www.creative-sols.com" target="_blank"> شركة الحلول الإبداعية المحدودة </a>
                </p>
            </div>
        </div>
    </div>
</div><!-- end footer-copyright-->
