﻿@using PagedList
@using PagedList.Mvc
@model PagedList<BoudlGroup.HomePageViewModel>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-sm-6 news-container">
            <div class="post-box">
                <a href="@Url.Action("News","Home", new {name=@item.Slug})">
                    <img src="@item.ImagePath" alt="Luxury Awards" class="img-responsive" />
                </a>
                <a href="@Url.Action("News","Home", new {name=@item.Slug})" class="post-title">@item.NameEn</a>
                <div class="post-meta clearfix">
                    <div class="post-date">@Convert.ToDateTime(item.CreatedOn).ToString("dd/MMMM/yyy")</div>
                </div>
            </div>
        </div>
    }
}
<div class="col-md-12">
    @*<div class="pagination-box" id="test">
        @Html.PagedListPager(Model, page => Url.Action("News", new { page, pageSize = Model.PageSize }))
    </div>*@
    <div class="pagination" id="test">
        @Html.PagedListPager(Model, page => Url.Action("News", new { page, pageSize = Model.PageSize }))
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("body").addClass("internal-pages trans-header sticky");
        $("p").removeClass("p1");
    </script>
}






