﻿@{
    ViewBag.Title = "قريباً إفتتاح فندق عابر فرع الصحافة";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        @foreach (var item in Model.NewsList)
                        {
                            <div class="col-sm-12 news-container">
                                <div class="post-box">
                                    <img src="@item.ImagePath" alt="Luxury Hotel Award" class="img-responsive" />
                                    <h3 class="post-title">@item.NameAr</h3>
                                    <p class="text-justified">
                                        @Html.Raw(HttpUtility.HtmlDecode(item.DescAr))


                                    </p>
                                    <div class="post-meta clearfix">
                                        <div class="post-date">@Convert.ToDateTime(item.CreatedOn).ToString("dd/MMMM/yyy")</div>
                                    </div>
                                </div>
                            </div><!-- col-sm-6-->
                        }
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}

