﻿
@{
    ViewBag.Title = "About Us | Boudl Group Hotels in Saudi ";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }

        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">نبذة عن بودل</h1>
                <div class="entry-content">
                    <div class="entry-intro">
                        @if (ViewBag.AboutusList != null)
                        {
                            foreach (var item in ViewBag.AboutusList)
                            {
                                @Html.Raw(HttpUtility.HtmlDecode(@item.ContentEn))
                                @*<div class="img-frame">
                                        <img src=@item.ImageEn />
                                    </div>
                                    <div class="desc text-left">
                                        @Html.Raw(HttpUtility.HtmlDecode(@item.ContentEn))
                                    </div>*@
                            }
                        }
                        @*<p>
                            تأسست شركة بودل للفنادق والمنتجعات عام 1959 م تحت مسمى مؤسسة صالح بن ناصر الخليوي وأولاده التجارية حيث بدأت مسيرتها بتجارة المواد الغذائية استيراداً وتصديراًو توزيعًا فكانت الشركة الأولي لتوزيع المواد الغذائية بالمنطقة الشرقية و في عام 1985م، و بعد دراسة محكمة لسوق صناعة السياحة، و اتجاه المملكة لتنمية و تطوير موارد السياحة التي تحظى بها المملكة، قررت الشركة الدخول إلى الصناعة الفندقية و ذلك بأول فندق يحمل اسم الخليوي بمدينة حفر الباطن وخلال عدة أعوام بدأت الشركة في النمو لتشمل مدن عدة بالمملكة العربيه السعودية،لتصبح اسما رائداً في مجال ادارة و تشغيل الفنادق بالخليج العربي. 
                        </p>*@
                    </div>
                    
                </div>
                <div class="entry-content text-center">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="img-container">
                                <img src="~/areas/ar/images/about-board.jpg" alt="board members" class="img-responsive" />
                                <a href="~/ar/Home/executiveboard">تعرف على أعضاء مجلس إدارة بودل <i class="fa fa-arrow-left"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-container">
                                <img src="~/areas/ar/images/about-us-award.png" alt="boudl awards" class="img-responsive" />
                                <h5><strong>الهدف والرؤية :</strong> الخيار الأول للضيف و الريادة في الصناعة الفندقية ... <a href="~/ar/home/missionvision" class="txt-red">المزيد</a></h5>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="img-container">
                                <img src="~/areas/ar/images/about-profile-brands.png" alt="Boudl brands profile" class="img-responsive" />
                                <h5>أتطلع على أحدث ملف لمجموعة بودل</h5>
                                <h5><i class="fa fa-file-pdf-o"></i> قم تحميب الملف من  <a href="javascript:;" class="txt-red">هنا</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-content">
                    <div class="row ">
                        <div class="col-md-12">
                            <h1 class="text-center">علاماتنا التجارية</h1>
                            <ul class="brands">
                                <li>
                                    <a href="http://boudl.com" target="_blank">
                                        <img src="~/images/boudl-gr.png" alt="boudl group" class="img-boudl-group" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://boudl.com" target="_blank">
                                        <img src="~/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://brairahotels.com/" target="_blank">
                                        <img src="~/images/braira-1.png" alt="braira" class="img-braira" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                                        <img src="~/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://aberhotels.com/" target="_blank">
                                        <img src="~/images/aber.png" alt="aber" class="img-aber" />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="~/images/bur.png" alt="bur" class="img-bur" />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="~/images/pampa-grill-logo.png" alt="pampa grill" class="img-bur" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- end row-->
                </div>
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
            $("p").removeClass("p1"); $("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
        });
    </script>
}