﻿
@{
    ViewBag.Title = "Boudl Board Members";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Executive Board</h1>
                <div class="entry-content">
                    <div class="board-member-container">                        
                        <img src="~/images/executive-board/7.jpg" class="img-board-member" alt="Khaled Ben Saleh Alkhlaiwi" />
                        <h4 class="team-title">Khaled Ben Saleh Alkhelaiwi - <small>Managing Director</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/6.jpg" class="img-board-member" alt="Nasser Ben Saleh Alkhelaiwi" />
                        <h4 class="team-title">Nasser Ben Saleh Alkhelaiwi - <small>Chief Exectuive Officer</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/5.jpg" class="img-board-member" alt="Saleh Ben Seif Alkhlaiwi" />
                        <h4 class="team-title">Saleh Ben Seif Alkhelaiwi - <small>Boudl Apart’ Hotel General Manager</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/4.jpg" class="img-board-member" alt="Ibrahim Ben Mohamed Alkhlaiwi" />
                        <h4 class="team-title">Ibrahim Ben Mohamed Alkhelaiwi - <small>Narcissus Hotel General Manager</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/2.jpg" class="img-board-member" alt="Fares Ben Khaled Alkhlaiwi" />
                        <h4 class="team-title">Fares Ben Khaled Alkhelaiwi - <small>Braira General Manager</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/1.jpg" class="img-board-member" alt="Turkey Ben Nasser Alkhlaiwi" />
                        <h4 class="team-title">Turkey Ben Nasser Alkhelaiwi - <small>Aber Hotels General Manager</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/14.jpg" class="img-board-member" alt="Qassem Al JAberi" />
                        <h4 class="team-title">Qassem Al JAberi - <small>Bur Bakery &amp; Cafe General Manager</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/13.jpg" class="img-board-member" alt="Mamdouh Zahran" />
                        <h4 class="team-title">Mamdouh Zahran - <small>Director of Marketing</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/12.jpg" class="img-board-member" alt="Tamer Al Shamery" />
                        <h4 class="team-title">Tamer Al Shamery - <small>Director of Human Resources Department</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/10.jpg" class="img-board-member" alt="Saber Saeed" />
                        <h4 class="team-title">Saber Saeed - <small>Deputy General Manager of Boudl</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/19.jpg" class="img-board-member" alt="Ahmed Mazhar" />
                        <h4 class="team-title">Ahmed Mazhar - <br /><small>Legal Counsel</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/18.jpg" class="img-board-member" alt="Ahmed Abd El Fattah" />
                        <h4 class="team-title">Ahmed Abd El Fattah - <small>Director of Development Department</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/17.jpg" class="img-board-member" alt="Mohamed Saad" />
                        <h4 class="team-title">Mohamed Saad - <small>Director of Internal Audit Department</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/21.jpg" class="img-board-member" alt="Mohamed Rashid" />
                        <h4 class="team-title">Mohammed Al-Rashid - <small>Corporate IT Director</small></h4>
                    </div>
                    <div class="board-member-container">
                        <img src="~/images/executive-board/22.jpg" class="img-board-member" alt="ALaa Adel" />
                        <h4 class="team-title">ALaa Adel - <small>Director of Quality Management</small></h4>
                    </div>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();
                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}
