﻿
@{
    ViewBag.Title = "Narcissus Obhur Jeddah";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-left: 0;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/narcissus-jeddah.png" alt="Narcissus Obhur Jeddah" class="img-responsive" />
                                <h3 class="post-title">Narcissus Obhur Jeddah</h3>
                                <p class="text-justified">
                                    Narcissus Obhur five-star resort is now open to the public, which is located in the northern part of Jeddah. The resort combines luxury and relaxation with its world-class design for the apartment units. It is also the place for businessmen to meet in well-equipped meeting rooms.The diversity of restaurants is a combination of East and West charm, and the tranquility and beautiful sea views are a destination for visitors wishing to relax in luxury.
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">10 - May - 2018</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}