﻿@model BoudlGroup.HomePageViewModel
@{
    ViewBag.Title = "Boudl Group Executive Board";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">المجلس التنفيذي</h1>
                <div class="entry-content">
                    @if (Model.boardmemberslist!=null)
                    {
                        foreach (var item in Model.boardmemberslist)
                        {
                            if (item.IsBoardMember == true)
                            {
                                <div class="board-member-container">
                                    <img src="@item.ImagePath" class="img-board-member" alt="@item.NameAr - @item.DesignationAr" />
                                    <h4 class="team-title">@item.NameAr </h4>
                                    <p class="team-title"><small>@item.DesignationAr</small></p>
                                </div>
                            }
                        }
                    }
                    
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();
                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
            $("p").removeClass("p1"); $("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
        });
    </script>
}


