﻿
@{
    ViewBag.Title = "آخر الأخبار من بودل";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0;
        }

        .main {
            padding-bottom: 50px;
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">آخر الأخبار من بودل</h1>
                <div class="entry-content">
                    <div class="row">
                        @if (Model.NewsList != null)
                        {
                            @*foreach (var item in Model.NewsList)
                            {
                                <div class="col-sm-6 news-container">
                                    <div class="post-box">
                                        <a href="@Url.Action("News","Home", new {name=@item.Slug})">
                                            <img src="@item.ImagePath" alt="Luxury Awards" class="img-responsive" />
                                        </a>
                                        <a href="@Url.Action("News","Home", new {name=@item.Slug})" class="post-title">@item.NameAr</a>
                                        <div class="post-meta clearfix">
                                            <div class="post-date">@Convert.ToDateTime(item.CreatedOn).ToString("dd/MMMM/yyy")</div>
                                        </div>
                                    </div>
                                </div>
                            }*@
                            @Html.Action("NewPage", "Home")
                        }
                        else
                        {
                            <div class="col-sm-6 news-container">
                                <div class="post-box">
                                    <strong>No content available</strong>
                                </div>
                            </div><!-- col-sm-6-->
                        }
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
        $("p").removeClass("p1"); $("p").removeClass("p2"); $("p").removeClass("p3"); $("p").removeClass("p4"); $("p").removeClass("p5");
        $("#test ul").toggleClass("pagination list-inline");
    </script>
}

