﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Group | Hotels Saudi Arabia </title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700" rel="stylesheet">
    <link href="~/css/base.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="~/css/mmenu.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/magnific.css">
    <link href="~/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="shortcut icon" href="~/images/favicon.png">
    @RenderSection("styles", required: false)
</head>
<body class="page-template-nocontent">
    <div id="page">
        <div class="layout-sidebar">
            <div class="sidebar">
                <div class="sidebar-content">
                    <header class="header">
                        <h1 class="site-logo">
                            <a href="~/">
                                <img src="~/images/logo-home.png" alt="Boudl Group Logo" />
                            </a>
                            <div class="main-logos-container">
                                <ul class="brands">
                                    <li>
                                        <a href="http://boudl.com" target="_blank">
                                            <img src="~/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://brairahotels.com/" target="_blank">
                                            <img src="~/images/braira-1.png" alt="braira" class="img-braira" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                                            <img src="~/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://aberhotels.com/" target="_blank">
                                            <img src="~/images/aber.png" alt="aber" class="img-aber" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="~/images/bur.png" alt="bur" class="img-bur" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </h1>
                        <a href="#" class="mobile-toggle">
                            <span class="mobile-navicon">
                                <b></b>
                            </span>
                            <span>
                                Menu
                            </span>
                        </a>
                    </header>
                    <div class="sidebar-inner">
                        <nav class="nav">
                            <ul class="navigation-main">
                                <li>
                                    <a href="javascript:;">About Us</a>
                                    <ul>
                                        <li><a href="~/about">Our History</a></li>
                                        <li><a href="~/missionvision">Our Mission &amp; Vision</a></li>
                                        <li><a href="~/charimenmessages">Chairmen's Messages</a></li>
                                        <li><a href="~/executiveboard">Executive Board</a></li>          
                                    </ul>
                                </li>
                                <li><a href="~/boudlbrands">Hotels &amp; Restaurants</a></li>
                                <li>
                                    <a href="javascript:;">Booking</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">&nbsp;</a>
                                            <div class="menu-container">
                                                <div class="block-container">
                                                    <label>Hotel</label>
                                                    <select>
                                                        <option>Narcissus</option>
                                                        <option>Aber</option>
                                                        <option>Braira</option>
                                                        <option>Boudl Apart 'Hotel</option>
                                                    </select>
                                                </div><!-- end block-container-->
                                                <div class="block-container">
                                                    <label>Select A Destination</label>
                                                    <input type="text"  />
                                                </div><!-- end block-container-->
                                                <div class="clearfix"></div>
                                                <div class="half-container">
                                                    <label>Check in</label>
                                                    @*<input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date..">*@
                                                    <input type="text" placeholder="Check in" />
                                                </div>
                                                <div class="half-container">
                                                    <label>Check out</label>
                                                    <input type="text" placeholder="Check out" />
                                                </div>
                                                <div class="clearfix"></div><br />
                                                <div class="half-container">
                                                    <select class="form-control">
                                                        <option>Adults</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="half-container">
                                                    <select class="form-control">
                                                        <option>Children</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="block-container">
                                                    <input type="button" value="Book Now" />
                                                </div><!-- end block-container-->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Membership</a>
                                </li> 
                                <li>
                                    <a href="~/news">News</a>
                                </li>
                                <li>
                                    <a href="~/contact">Contact Us</a>
                                </li>
                                <li>
                                    <a href="~/ar">العربية</a>
                                </li>
                            </ul>
                            <!-- #navigation -->
                        </nav>
                        <!-- #nav -->
                        <div class="sidebar-widgets">
                            <!-- You can include widgets here if applicable -->
                        </div>
                        <div class="sidebar-widgets-bottom text-center">
                            <aside class="widget widget_text group">
                                <p><i class="fa fa-phone"></i> 9200 000 666</p>
                            </aside>
                            <!-- /widget -->
                            <!-- For a list of all supported social icons please see: http://fontawesome.io/icons/#brand -->
                            <aside class="widget widget_ci_social_widget ci-socials group">
                                <ul class="list-social-icons">
                                    <li><a class="social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/js/jquery-1.12.3.min.js"></script>
    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.fitvids.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <script src="~/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/flatpickr"></script>
    <script type="text/javascript">
        flatpickr(".flatpickr", {
            enableTime: true
        });
    </script>

</body>
</html>
