﻿<!DOCTYPE html>

<html dir="rtl" lang="ar-sa">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Group | Hotels Saudi Arabia | Best Hotels</title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
    <link href="~/areas/ar/css/base.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/mmenu.css">
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/areas/ar/css/magnific.css">
    <link href="~/areas/ar/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="shortcut icon" href="~/images/favicon.png">
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="page">
        <div class="layout-sidebar">
            <div class="sidebar">
                <div class="sidebar-content">
                    <header class="header">
                        <h1 class="site-logo">
                            <a href="~/ar">
                                <img src="~/areas/ar/images/logo-home.png" alt="Boudl Group Logo" />
                            </a>
                            <br />
                            <div class="main-logos-container">
                                <ul class="brands">
                                    <li>
                                        <a href="http://boudl.com" target="_blank">
                                            <img src="~/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://brairahotels.com/" target="_blank">
                                            <img src="~/images/braira-1.png" alt="braira" class="img-braira" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                                            <img src="~/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://aberhotels.com/" target="_blank">
                                            <img src="~/images/aber.png" alt="aber" class="img-aber" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="~/images/bur.png" alt="bur" class="img-bur" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </h1>

                        <a href="#" class="mobile-toggle">
                            <span class="mobile-navicon">
                                <b></b>
                            </span>
                            <span>
                                Menu
                            </span>
                        </a>
                    </header>
                    <div class="sidebar-inner">
                        <nav class="nav">
                            <ul class="navigation-main">
                                <li>
                                    <a href="javascript:;">عن مجموعة بودل</a>
                                    <ul>
                                        <li><a href="~/ar/about">نشأة بودل</a></li>
                                        <li><a href="~/ar/missionvision">الهدف والرؤية</a></li>
                                        <li><a href="~/ar/charimenmessages">رسالئل مجلس الإدارة</a></li>
                                        <li><a href="~/ar/executiveboard">المجلس التنفيذي</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/ar/boudlbrands">الفنادق و المطاعم</a></li>
                                <li>
                                    <a href="javascript:;">إحجز غرفتك</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">&nbsp;</a>
                                            <div class="menu-container">
                                                <div class="block-container">
                                                    <label>فندق</label>
                                                    <select>
                                                        <option>نارسس</option>
                                                        <option>عابر</option>
                                                        <option>بريرا</option>
                                                        <option>بودل للشقق الفندقية</option>
                                                    </select>
                                                </div><!-- end block-container-->
                                                <div class="block-container">
                                                    <label>إختر وجهتك</label>
                                                    <input type="text" />
                                                </div><!-- end block-container-->
                                                <div class="clearfix"></div>
                                                <div class="half-container">
                                                    <label>الوصول</label>
                                                    @*<input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date..">*@
                                                    <input type="text" placeholder="الوصول" />
                                                </div>
                                                <div class="half-container">
                                                    <label>المغادرة</label>
                                                    <input type="text" placeholder="المغادرة" />
                                                </div>
                                                <div class="clearfix"></div><br />
                                                <div class="half-container">
                                                    <select class="form-control">
                                                        <option>البالغون</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="half-container">
                                                    <select class="form-control">
                                                        <option>الأطفال</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="block-container">
                                                    <input type="button" value="إحجز الآن" />
                                                </div><!-- end block-container-->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">نظام العضوية</a>
                                </li>
                                <li>
                                    <a href="~/ar/news">الأخبار</a>
                                </li>
                                <li>
                                    <a href="~/ar/contact">إتصل بنا</a>
                                </li>
                                <li>
                                    <a href="~/">English</a>
                                </li>
                            </ul>
                            <!-- #navigation -->
                        </nav>
                        <!-- #nav -->
                        <div class="sidebar-widgets">
                            <!-- You can include widgets here if applicable -->
                        </div>
                        <div class="sidebar-widgets-bottom text-center">
                            <aside class="widget widget_text group">
                                <p><i class="fa fa-phone"></i> 9200000666</p>
                            </aside>
                            <!-- /widget -->
                            <!-- For a list of all supported social icons please see: http://fontawesome.io/icons/#brand -->
                            <aside class="widget widget_ci_social_widget ci-socials group">
                                <ul class="list-social-icons">
                                    <li><a class="social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/areas/ar/js/jquery-1.12.3.min.js"></script>
    <script src="~/areas/ar/js/superfish.js"></script>
    <script src="~/areas/ar/js/jquery.flexslider.js"></script>
    <script src="~/areas/ar/js/jquery.fitvids.js"></script>
    <script src="~/areas/ar/js/jquery.magnific-popup.js"></script>
    <script src="~/areas/ar/js/jquery.sticky-kit.min.js"></script>
    <script src="~/areas/ar/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/flatpickr"></script>
    <script type="text/javascript">
        flatpickr(".flatpickr", {
            enableTime: true
        });
    </script>
</body>
</html>
