﻿@model BoudlGroup.HomePageViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>@ViewBag.Title  Boudl Group | Hotels Saudi Arabia </title>
    <meta name="author" content="Creative Solutions">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700" rel="stylesheet">
    <link href="~/css/base.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="~/css/mmenu.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/magnific.css">
    <link href="~/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="shortcut icon" href="~/images/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

   

    @RenderSection("styles", required: false)
</head>
<body class="page-template-nocontent" id="bodyhtml">
    <div id="page">
        <div class="layout-sidebar">
            <div class="sidebar">
                <div class="sidebar-content">
                    <header class="header">
                        <h1 class="site-logo">
                            <a href="~/">
                                <img src="~/images/logo-home.png" alt="Boudl Group Logo" />
                            </a>
                            <div class="main-logos-container">
                                <ul class="brands">
                                    <li>
                                        <a href="http://boudl.com" target="_blank">
                                            <img src="~/images/boudl.png" alt="boudl" class="img-boudl img-boudl-apart" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://brairahotels.com/" target="_blank">
                                            <img src="~/images/braira-1.png" alt="braira" class="img-braira" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.narcissusriyadh.com/en/default.html" target="_blank">
                                            <img src="~/images/narcissus.png" alt="narcissus" class="img-narcisuss" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://aberhotels.com/" target="_blank">
                                            <img src="~/images/aber.png" alt="aber" class="img-aber" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <img src="~/images/bur.png" alt="bur" class="img-bur" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </h1>
                        <a href="#" class="mobile-toggle">
                            <span class="mobile-navicon">
                                <b></b>
                            </span>
                            <span>
                                Menu
                            </span>
                        </a>
                    </header>
                    <div class="sidebar-inner">
                        <nav class="nav">
                            <ul class="navigation-main">
                                <li>
                                    <a href="javascript:;">About Us</a>
                                    <ul>
                                        <li><a href="@Url.Action("History","Home")">Our History</a></li>
                                        <li><a href="@Url.Action("MissionVision","Home")">Our Mission &amp; Vision</a></li>
                                        <li><a href="@Url.Action("ChairmanMessageAndExecutiveBoard","Home",new {param="chairmanmessage" })">Chairman's Messages</a></li>
                                        <li><a href="@Url.Action("ChairmanMessageAndExecutiveBoard","Home",new {param="executiveboard" })">Executive Board</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/boudlbrands">Hotels &amp; Restaurants</a></li>
                                <li>
                                    <a href="javascript:;">Booking</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:;">&nbsp;</a>
                                            <div class="menu-container">
                                                <div class="block-container">
                                                    <label>Hotel</label>
                                                       @* <select id="ddlhotels">*@
                                                            @*<option>Narcissus</option>
                                                            <option>Aber</option>
                                                            <option>Braira</option>
                                                            <option>Boudl Apart Hotel</option>*@
                                                        @*</select>*@
                                                        <div class="form-group row">

                                                          @*  @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "col-md-2 col-form-label" })*@
                                                            <div class="col-md-8">
                                                                @*@Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewData["ddlhotelslist"], "-Select Htel-",
                              new { id = "ddlhotels", @class = "form-control select2" })
                                                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })*@
                                                                <select id="ddlhotels" class = "form-control select2"></select>
                                                            </div>
                                                        </div>

                                                </div><!-- end block-container-->
                                                <div class="block-container">
                                                    <label>Select A Destination</label>
                                                    <div class="form-group row">
                                                        <div class="col-md-8">
                                                            <select id="ddlbranches" class="form-control select2"></select>
                                                        </div>
                                                    </div>
                                                   @* <input type="text" />*@
                                                </div><!-- end block-container-->
                                                <div class="clearfix"></div>







                                                <div class="half-container">
                                                    <label>Check in</label>
                                                    @*<input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date..">*@
                                                    <input type="text" placeholder="Check in" id="txtCheckIn"  class="datepicker"/>
                                                </div>
                                                <div class="half-container">
                                                    <label>Check out</label>
                                                    <input type="text" placeholder="Check out" class="datepicker"  id="txtCheckOut"/>
                                                </div>
                                                <div class="clearfix"></div><br />
                                                <div class="half-container">
                                                    <select class="form-control">
                                                        <option>Adults</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="half-container">
                                                    <select class="form-control">
                                                        <option>Children</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                    </select>
                                                </div>
                                                <div class="block-container">
                                                    <input  id="btnBookNow" type="button" value="Book Now" />
                                                </div><!-- end block-container-->
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Membership</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("News","Home",new { name=""})">News</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs","Home")">Contact Us</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ChangeLanguage","Home")">العربية</a>
                                </li>
                            </ul>
                            <!-- #navigation -->
                        </nav>
                        <!-- #nav -->
                        <div class="sidebar-widgets">
                            <!-- You can include widgets here if applicable -->
                        </div>
                        <div class="sidebar-widgets-bottom text-center">
                            <aside class="widget widget_text group">
                                <p><i class="fa fa-phone"></i> 9200 000 666</p>
                            </aside>
                            <!-- /widget -->
                            <!-- For a list of all supported social icons please see: http://fontawesome.io/icons/#brand -->
                            <aside class="widget widget_ci_social_widget ci-socials group">
                                <ul class="list-social-icons">
                                    <li><a class="social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="social-icon" href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/js/jquery-1.12.3.min.js"></script>
    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.fitvids.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/flatpickr"></script>
    <script type="text/javascript">
        flatpickr(".flatpickr", {
            enableTime: true
        });
        $(document).ready(function () {
            var branchlist = null;
            var urlval = "";
            //Populating branches ddl on pageload
            var markup1 = "<option value='0'>-Select Branch-</option>";
            $("#ddlbranches").html(markup1).show();
            //alert('asd');
           $.ajax({
            type: 'POST',
            url: '@Url.Action("GetHotels", "Home")',
            dataType: 'json',
          //  data: { id: $("#ddlcountries").val() },
               success: function (data) {
                   //alert(data.FirstList.length);
                var district = "<select id='ddlhotels'>";
                district = district + '<option value="">-Select Hotel-</option>';
                for (var i = 0; i < data.FirstList.length; i++) {
                    district = district + '<option value=' + data.FirstList[i].Id + '>' + data.FirstList[i].NameEn + '</option>';
                }
                district = district + '</select>';
                $('#ddlhotels').html(district);
                branchlist = data.SecondList;
            },
            error: function (ex) {
                alert('Failed to retrieve Hotels.' + ex);
            }
           });

            //POPULATING BRANCHES DDL
            $("#ddlhotels").on('change', function () {
                debugger
                var hval = $(this).val();
                if (branchlist != null) {
                    var markup = "<option value='0'>-Select Branch-</option>";
                    for (var x = 0; x < branchlist.length; x++) {
                        if (branchlist[x]["hotelid"] == hval) {
                            markup += "<option value=" + branchlist[x]["url"] + ">" + branchlist[x]["NameEn"] + "</option>";
                        }
                    }
                    $("#ddlbranches").html(markup).show();
                }
                else {
                    var markup = "<option value='0'>-Select Branch-</option>";
                    $("#ddlbranches").html(markup).show();
                }
            });

            //PASS URL TO BOOKNOW BUTTON
            $("#ddlbranches").on('change', function () {
                debugger
                var val = $(this).val();
                urlval = val;
            });
            $("#btnBookNow").click(function () {
                debugger
                window.open(urlval, '_blank');
            })
        });

    </script>
   
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
          $(document).ready(function () {
              $("#txtCheckIn").datepicker({
                  minDate: 0,
                  onSelect: function (date) {
                      var selectedDate = new Date(date);
                      selectedDate.setDate(selectedDate.getDate() + 1);
                      $("#txtCheckOut").datepicker("option", "minDate", selectedDate);
                  }
              });
              $("#txtCheckOut").datepicker({minDate:0});
         });
    </script>

</body>
</html>
