﻿@{
    ViewBag.Title = "قريباً إفتتاح فندق عابر فرع الصحافة";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }
        .main {
            padding-bottom: 50px
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Latest News From Boudl</h1>
                <div class="entry-content">
                    <div class="row">
                        <div class="col-sm-12 news-container">
                            <div class="post-box">
                                <img src="~/images/news/aber-2.jpg" alt="Aber Hotels" class="img-responsive" />
                                <h3 class="post-title">قريباً إفتتاح فندق عابر فرع الصحافة</h3>
                                <p class="text-justified">
                                    قريبا سيتم إفتتاح الفرع الجديد لفندق عابر بحى الصحافة بالرياض , تمتاز فنادق عابر بطابع فخم وبسيط من حيث التصميم والمفهوم وباسعار اقتصادية مع ضمان الجودة العالية والأحترافية في تقديم الخدمات لضيوفنا الكرام . المفهوم الأقتصادي الذي نحرص على تقديمه في هذه المجموعة اصبح حاليا غاية ضرورية للعديد من المسافرين والباحثين عن التغير في نمط الحياة المعتاد . تتميز هذه السلسلة من الفنادق بتقديم خدمات مميزة بأسعار اقتصادية .حيث التصاميم تجمع بين الحداثة والأصالة العربية .
                                </p>
                                <div class="post-meta clearfix">
                                    <div class="post-date">02 - Sep - 2017</div>
                                </div>
                            </div>
                        </div><!-- col-sm-6-->
                    </div><!--end row-->
                </div><!-- end entry-content-->
            </article>
        </main>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}

