﻿
@{
    ViewBag.Title = "Managing Direcotr's Message | Boudl Group Hotels";
    Layout = "~/Areas/ar/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
        .layout-sidebar {
            margin-right: 0
        }
    </style>
}
<div class="layout-content">
    <div class="content-wrap">
        <main class="main">
            <article class="entry">
                <h1 class="entry-title">Managing Director's Message</h1>
                <div class="entry-content">
                    <img src="~/areas/ar/images/executive-board/7.jpg" class="img-chariman md-img" alt="Khaled bin Saleh Al-Khelaiwi" />
                    <blockquote>
                        <p>
                            تأسست شركة بودل عام ١٩٥٩ م تحت اسم شركة صالح ناصر الخليوي وأولاده التجارية حيث بدأت مسيرتها بأنتاج المواد الغذائية, فكانت الشركة الأولى فى هذا المكان فى المنطقة الشرقية.<br />
                            وفى عام ١٩٨٥ م وبعد دراسة محكمة لسوق السياحة وإتجاه المملكة لتمنية وتطوير الموارد السياحية, قررت الشركة إقامة أول فندق يحمل اسم الخليوي بمدينة حفر الباطن , وفى خلال أعوام قليلة إستطاعت الشركة إقامة العديد من الفنادق فى عدة مناطق من المملكة ودولة الكويت.<br />
                            وخلال مسيرة الشركة فى مجال الصناعة الفندقية, أنشأت العلامة التجارية بودل. التى حققت نجاحاً باهراً وأصبحت العلامة التجارية الأولى فى مجال إدارة وتشغيل الفنادق, ثم أنشأت الشركة علامات تجارية أخرى شكلت مجموعة بودل للفنادق والمنتجعات.<br />
                            وفى عام ٢٠١٤ تحولت بودل من شركة ذات مسئولية محدودة إلى شركة مساهمة مقفلة, من المتوقع إدراجها فى سوق الأوراق المالية عام ٢٠١٨, كهدف إستراتيجي إضافة الى اهدافها الاخرى المتمثلة فى النمو و الإنتشار والأستثمار الأمثل فى علاماتها التجارية.<br />
                            إن سياسة مجموعة بودل بنيت على أساس تلبية أحتياجات ورغبات الضيوف من الفنادق الفخمة فئة الخمس نجوم و أربع نجوم إلى ثلاث نجوم والشقق الفندقية.<br />
                            إن النجاح الذى حققته شركة بودل للفنادق و المنتجعات خلال مسيرتها يحفزها للأنطلاق عالمياً لتكون الشركة السعودية الأولى التى تقدم خدماتها بطابع عربى أصيل.

                            <cite>خالد الخليوي - العضو المنتدب</cite>
                        </p>
                    </blockquote>
                </div>
            </article>
        </main><!-- end main-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            'use strict';
            var $window = $(window);
            var $body = $('body');
            $window.on('load', function () {
                var sidebarHeight = $('.layout-sidebar').outerHeight();
                var contentHeight = $('.layout-content').outerHeight();

                var $layout = $('.sidebar, .content-wrap');
                $layout.stick_in_parent({
                    parent: '#page',
                    spacer: sidebarHeight > contentHeight ? '.layout-content' : '.layout-sidebar'
                });
            });
        });
    </script>
}